{% extends "::base.html.twig" %}
{%block title%}Platos{%endblock%}
{%block ruta%}
<li>
    <a href="{{path('index')}}">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="{{path('pvs')}}">Productos para la venta</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Platos</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
        <legend>Platos {%if estado == 1%}inactivos{%endif%}</legend>
        {% if msj %}
            <div class="alert alert-success">
            <button type='button' class='close' data-dismiss='alert'>×</button>
            <strong>Muy bien! </strong> {{ msj }}
            {% if idPla %}  <a class="text-info" href="{{ path('nuevoIngredientePlato', { 'id': idPla }) }}">Agregar ingredientes</a>{% endif %}
            </div>  
        {% endif %}
        {% if error %}
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>¡CUIDADO!</h4>
                {{ error }}
            </div>
        {% endif %}
        <div class="pull-right btn-group">
            {%if app.user.role.obtenerPermiso('plato_nuevo')%}
                <a title="Nuevo plato" href="{{path('nuevoPlato')}}" class="btn"><i class="fa-icon-plus-sign"></i></a>
            {% endif %}
            {%if app.user.role.obtenerPermiso('producto_listar_producto_venta')%}
                <a title="Lista de productos para la venta" href="{{path('pvs')}}" class="btn"><i class="fa-icon-list"></i></a>
            {% endif %}
            {%if app.user.role.obtenerPermiso('producto_imprimir')%}
            <a class="btn dropdown-toggle" data-toggle="dropdown" title="Imprimir" ><i class="icon-print"></i> <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a onclick="imprimirTabla(this);" target="_blank">Imprimir lista</a></li>
                <li><a onclick="imprimirTablaCat(this);" target="_blank">Imprimir lista por categorias</a></li>
            </ul>
             {% endif %}   
        </div>
        {%if estado!=1%}
            <ul class="nav nav-pills">
              <li class="active"><a href="{{path('platos', {'estado':1})}}">Inactivos ({{cantidad}})</a></li>
            </ul>
            {%elseif estado ==1%}
            <ul class="nav nav-pills">
                <li class="active"><a href="{{path('platos')}}"><i class="fa-icon-arrow-left"></i>Volver a activos</a></li>
            </ul>
            {%endif%}
        <div class="accordion" id="accordion2">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne" title="Hacer clic para cerrar">
                    Seleccione una categoria <i class="icon-circle-arrow-up"></i> 
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                    <input type="text" id="idNodo" onkeypress="buscarCategoria ();" autocomplete="off" class="input-medium search-query" placeholder="Buscar Categoria">
                    <button type="button" class="btn" onclick="buscarCategoria ();">Buscar</button>
                <div class="accordion-inner">
                    <p><a  href="javascript: d.openAll();">Abrir todos <i class="icon-folder-open"></i></a> | 
                        <a href="javascript: d.closeAll();">Cerrar todos <i class="icon-folder-close"></i> </a></p>

                    <div id="tree"></div>
                </div>
            </div>
    </div>   
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
            <thead class="header">
                <tr>
                    <th>Nombre</th>                   
                    <th>Precio de venta</th>
                    <th>Cantidad</th>
                    <th>Tasa</th>
                    <th style="display: none;">padres</th>
                    <th>Categoria</th>
                    <th style="text-align: center">Acciones</th>
                </tr>
            </thead>
            {% for plato in platos%}
            <tr id="{{plato.id}}">
                <td>{{plato.nombre}}</td>
                <td>{{plato.precioVenta}}</td>
                <td>{{plato.cantidad}}</td>
                <td style="display: none;">{{plato.catPadres}}</td>
                <td title="{{plato.tasa}}">{{plato.tasa}}</td>
                <td>{{plato.categoria}}</td>
                <td style="text-align: center;width: fit-content" >
                    {%if estado == 1%}
                        {%if app.user.role.obtenerPermiso('producto_activar')%}
                        <a href="#" onclick="activarProducto('{{plato.id}}', this);" activado="0" title="Activar producto {{plato.nombre}}"><i id="icono{{plato.id}}"  class="fa-icon-ok-circle"></i></a>
                        {%endif%}
                    {%else%}
                        <a href="#" onclick="detallesModal({{plato.id}})" title="Ver detalles {{plato.nombre}}"><i class="fa-icon-list-alt"></i></a>
                        {%if app.user.role.obtenerPermiso('ingrediente_nuevo')%}
                        <a href="{{ path('nuevoIngredientePlato', { 'id': plato.id }) }}" target="_blank" title="Nuevo ingrediente {{plato.nombre}}"><i class="fa-icon-plus-sign"></i></a>
                        {%endif%}
                        {%if app.user.role.obtenerPermiso('plato_editar')%}
                        <a href="{{ path('editarPlato', { 'id': plato.id }) }}" title="Editar {{plato.nombre}}"><i class="fa-icon-edit"></i></a>
                        {%endif%}
                        {%if app.user.role.obtenerPermiso('plato_borrar')%}
                        <a href="#" title="Eliminar {{plato.nombre}}"  onclick="eliminarModal('{{plato.id}}','{{plato.nombre}}');"><i class="fa-icon-trash"></i></a>
                        {%endif%}
                    {%endif%}
                </td>
                </div>
            </tr>   
            {% endfor %}
        </table>
        </div> 
    </div> 
</div>
        {% endblock %}

        {%block modal%}	
<div class="modal hide fade" id="eliminarModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Eliminar plato</h3>
  </div>
  <div class="modal-body">
    <p>¿Esta seguro que desea eliminar la plato <strong id="txtElim">fff</strong>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a id="btnEliminar" class="btn btn-primary">Aceptar</a>
  </div>
</div>
        <div id="verModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Detalles</h3>
  </div>
  <div class="modal-body">
      <div id="detalles">
      </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
  </div>
</div>
{% endblock %}
        
{% block javascripts %}
        
    {{parent()}}

<script>
    
    $(document).ready(function  (){ 
        actualizarArbol();  
    });
    function activarProducto(id, ele){
        if ($(ele).attr('activado')=="1"){
            msjAC('El producto ya se ha sido activado');
            return true;
        }
        $.getJSON("{{path('activarProducto')}}", {'id':id},function (json){
           if (json.rta=='ok'){
               $('#icono'+id).removeClass(' fa-icon-ok-circle').addClass('fa-icon-ok-sign');
               msjAC('El producto <strong>'+json.nombre+'</strong> se ha <strong>activado</strong>.');
               $(ele).attr('activado', "1");
               $(ele).attr('title', "Producto activado");
            }else{
               msjEC('El producto <strong>NO</strong>  ha sido activado.');
            }
        });
    }
    
    function verFoto(ele){
        var img = document.getElementById('fotoDetalle');
        if (BigScreen.element !== img) {
                BigScreen.request(img, onPhotoEnterFullscreen, onPhotoExitFullscreen);
        }
        else {
                BigScreen.exit();
        }
    }
    
    function onPhotoEnterFullscreen() {
        $(this).removeClass('zoom-in').addClass('zoom-out');
    }

    function onPhotoExitFullscreen() {
        $(this).removeClass('zoom-out').addClass('zoom-in');
    }
    
    function mostrarLinkFoto(ele){
        $('#photo-demo').removeAttr('style');
    }
     
    function ocultarLinkFoto(ele){
        $('#photo-demo').hide();
    }
        
function eliminarModal(id,txt){
        var url = "{{path('eliminarPlato', { 'id': '__id__' })}}".replace(/__id__/g, id);       
        var par= document.getElementById('txtElim');
        par.removeChild(par.firstChild);
        var contenido = document.createTextNode(txt);
        par.appendChild(contenido);
        $('#btnEliminar').attr('href',url);
        $('#eliminarModal').modal('toggle');
    }
    function detallesModal(id){
        var url = "{{path('platos')}}";
        $('#detalles').load(url,{'id':id});
        $('#verModal').modal('toggle');
    }
    
   function actualizarArbol(){
        d = new dTree('d');
        d.add(0, -1, 'Categorias','#','Todas las categorias');
        $.getJSON("{{path ('enviarCategoriasPV')}}",function (json){
            
        for (var i=0;i<json.length;i++){
                d.add(json[i].id, json[i].padre, json[i].nombre,'#',json[i].desc,'1','/SisGG/web/tree/img/folder.gif');
            }
       $('<p>'+d+ '</p>').appendTo('#tree');
        });
           
    }
    function buscarCategoria (){
        var txtNodo=document.getElementById('idNodo').value;
        $.getJSON("{{path ('buscarCategoriaPV1')}}",{n:txtNodo},function (json){
        d.openTo(json.id, true);
        $('#txtBuscarTabla').val(json.n);
        $('#txtBuscarTabla').trigger('keyup');
         
        });
        
                
    }
    
    function verCategoria (nodo,target){
        var nombre = document.getElementById(nodo).text;
        //var target = document.getElementById(nodo).target;
        document.getElementById('txtBuscarTabla').value=nombre;
        $('#txtBuscarTabla').trigger('keyup');
            
    }
   
    function eliminarModalIng(id,txt){       
        var url = "{{path('eliminarIngredientePlato', { 'id': '__id__' })}}".replace(/__id__/g, id);       
        var par= document.getElementById('txtElimIng');
        par.removeChild(par.firstChild);
        var contenido = document.createTextNode(txt);
        par.appendChild(contenido);
        $('#btnEliminarIng').attr('href',url);
        $('#eliminarModalIng').modal('toggle');
    }
    
    
function impDetallesPlato(id, ele){
    var url = "{{path('impDetallesPlato', {'id': '__id__' , '_format':'pdf'})}}".replace(/__id__/g,id);
    url= url.replace('amp;', '');
    $(ele).attr('href',url);
}
function imprimirTabla(ele){
      var tabla = document.getElementById('example');
      var rows = tabla.getElementsByTagName('tr');
      var filas= new Array(rows.length);
      for (var i = 1; i<rows.length ;i++){
        filas[i-1]=rows[i].id;
      }

      var url = "{{path('impListaProducto', { 'ids': '__ids__' ,'tipo':'2','texto':'Platos', '_format':'pdf'})}}".replace(/__ids__/g,filas);
      url= url.replace('amp;', '');
      url= url.replace('amp;', '');
      url= url.replace('amp;', '');
      var info =document.getElementById("example_info").innerHTML;
      url= url+'&info='+info;
      $(ele).attr('href',url);
  } 
  function imprimirTablaCat(ele){
      var tabla = document.getElementById('example');
      var rows = tabla.getElementsByTagName('tr');
      var filas= new Array(rows.length);
      for (var i = 1; i<rows.length ;i++){
        filas[i-1]=rows[i].id;
      }

      var url = "{{path('impListaProductoCategoria', { 'ids': '__ids__' ,'tipo':'1','texto':'Platos', '_format':'pdf'})}}".replace(/__ids__/g,filas);
      url= url.replace('amp;', '');
      url= url.replace('amp;', '');
      url= url.replace('amp;', '');
      var info =document.getElementById("example_info").innerHTML;
      url= url+'&info='+info;
      $(ele).attr('href',url);

  }
    </script>
{% endblock%}