{% extends app.request.isXmlHttpRequest ? "::ajax.html.twig" : "SisGGFinalBundle:Cajero:cajero.html.twig" %}
{%if form%}{% form_theme form "SisGGFinalBundle:Form:fields.html.twig" %}{%endif%}{%block ruta%}
<li>
    <a href="#">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Provincias</a>
</li>
{%endblock%}
{%block css%}
{{parent()}}
<style type="text/css">
        .active{
            font-weight: bold;
        }
        .estrella {
            font-family: FontAwesome;
            content: "\f006";
            padding-right: 5px;
            color: gray;
            direction: rtl;
            font-size: 30px;
        }
        .estrella:hover{
            color: gold;
            cursor: pointer;
        }
        .estrella.active{
            color: gold;
            content: "\2605";
            font-weight: bolder;
        }
    </style>        
{%endblock%}
{% block content %}
    <div class="row-fluid">
        <div class="box span12">
            <div class="box-content">
            {% set activos = 0%}
            {% set inactivos = 0%}    
            {% for provincia in provincias%}
                {%if provincia.estado=='activo'%}
                    {% set activos = activos+1%}
                {% elseif provincia.estado=='inactivo'%}
                    {% set inactivos = inactivos+1%}
                {% endif %}
            {% endfor %}     
                    <legend>Provincias
                        <div class="btn-group" style='float:right;'>
                            <a title="Nuevo tipo" href="{{path('nueva_provincia')}}" class="btn"><i class="fa-icon-plus-sign"></i></a>
                            <a class="btn"><i class="icon-print"></i></a>
                        </div>
                        <small class='filtros'>
                            <ul class="nav nav-pills" id="myTab1">
                                <li class='filtro {%if (estado=='activo') or (estado==null)%}active{%endif%}'><a href='{{path('provincias')}}' >Activos({{activos}})</a></li>
                                <li class='filtro {%if estado=='inactivo'%}active{%endif%}'><a href='{{path('provincias')}}?estado=inactivo' >Inactivos({{inactivos}})</a></li> 
                                <li class='filtro {%if estado=='todos'%}active{%endif%}' ><a href='{{path('provincias')}}?estado=todos' >Todos({{activos+inactivos}})</a></li>
                            </ul>
                        </small>                
                    </legend>
                    <table class="table table-striped table-bordered" id="provincias">
                        <thead class="header">
                            <tr>
                                <th>Nombre</th>
                                <th>Estado</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                {%if estado==null%}
                        {%set estado='activo'%}        
                {% endif %}        
                {% for provincia in provincias%}
                     {%if estado=='todos' or provincia.estado==estado%}   
                                <tr>
                                    <td>{{provincia.nombre}}</td>
                                    <td class='estado' style='text-align: center;'>{%if provincia.estado=='activo'%}<span class="label label-success">Activo</span>{%elseif provincia.estado=='inactivo'%}<span class="label label-important">Inactivo</span>{%endif%}</td>
                                    
                            {%if provincia.estado=='activo'%}
                                        <td style='text-align: center;'>
                                {% if gestor_autenticacion.isGranted(app.user,'cliente_editar') %}
                                                <a rel="tooltip" title="Editar" href="{{path('editar_provincia')}}?id={{provincia.id}}"><i class="fa-icon-edit"></i></a>
                                {%endif%}
                                {% if gestor_autenticacion.isGranted(app.user,'cliente_borrar') %}
                                                    <a class='borrar' href='#' rel="tooltip" title="Pasar a Inactivo" data-provincia='{{provincia}}' data-id='{{provincia.id}}' onclick='borrar(event, this);'><i class="fa-icon-trash"></i></a>
                                {%endif%} 
                                {% if gestor_autenticacion.isGranted(app.user,'cliente_borrar') %}
                                                    <a href='{{path('ciudades')}}?id={{provincia.id}}' rel="tooltip" title="Localidades" data-provincia='{{provincia}}' data-id='{{provincia.id}}'><i class="fa-icon-list"></i></a>
                                {%endif%}    
                                                    </td>
                            {%else%}
                                                    <td>
                                                        <a rel="tooltip" title="Pasar a Activo" href="{{path('activar_provincia')}}?id={{provincia.id}}"><i class="fa-icon-plus-sign"></i></a>
                                                    </td>
                            {% endif %}
                                                </tr>
                     {% endif %}       
                {% endfor %}       
                                            </tbody>
                                        </table>  


                                    </div>
                                </div><!--/span-->
                            </div><!--/row-->
{% endblock %}
{%block modal%}
        {{parent()}}
                            <div class="modal hide fade" id="eliminarOperacion">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">×</button>
                                    <h3>Atención!!!</h3>
                                </div>
                                <div id="dataEliminar" class="modal-body">
                                    ¿Esta seguro que desea pasar el provincia <span id='provincia' style='font: bold cursive;'></span> a estado Inactivo?
                                </div>
                                <div class="modal-footer">
                                    <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
                                    <a class="btn btn-primary" id='borrar'>Confirmar</a>
                                </div>
                            </div>
{%endblock%} 
{%block javascripts%}
{{parent()}}    
                            <script type="text/javascript">
                                    function porDefecto(ev, element) {
                                        ev.preventDefault();
                                        $(".estrella").each(function() {
                                            $(this).attr("class", 'estrella');
                                            $(this).html("☆");
                                        });
                                        $(element).attr("class", 'estrella active');
                                        $(element).html("★");
                                        var id = $(element).data("id");
                                        $.getJSON('{{path("pordefecto_provincia")}}', {id: id}).done(function(data) {
                                        });
                                    }

                                    function borrar(ev, element) {
                                        ev.preventDefault();
                                        $('#dataEliminar #provincia').html($(element).data('tipodocumento'));
                                        $('#borrar').attr('href', '{{path('borrar_provincia')}}?id=' + $(element).data('id'));
                                        $('#eliminarOperacion').modal('show');
                                    }
                                </script>    
{%endblock%}    
{%block ajax%}
                                <table class="table table-striped table-bordered table-hover" id="tiposdocumento">
                                    <thead class="header">
                                        <tr>
                                            <th>Abreviatura</th>
                                            <th>Nombre</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                {% for provincia in provincias%}
                                            <tr onclick='seleccionarProvincia({{provincia.id}}, "{{provincia}}");' style='cursor:pointer;'>
                                                <td>{{provincia}}</td>              
                                            </tr>   
                {% endfor %}       
                                        </tbody>
                                    </table>
{%endblock%} 
