{%if form %}{% form_theme form "SisGGFinalBundle:Form:personalizarCampos.html.twig" %}{%endif%}

            <legend>Factura de compra {%if compra.notaPedido%} <a href="#" class="btn pull-right" onclick="detallesModalNota('{{compra.notaPedido.id}}');" title="Ver detalles de la nota de pedido"><i class="fa-icon-list-alt"></i></a>{%endif%} </legend>
            <form class="form-horizontal"  id="formCompra" >
                
<div class="control-group">
    <label class="control-label">Proveedor</label>
    <div class="controls">
        <input value="{{compra.proveedor}}" type="text" readonly="true" >
    </div>
</div>
<div class="control-group">
    <label class="control-label">Fecha de registro</label>
    <div class="controls">
        <input value="{{compra.fechaEmision | date("d/m/Y H:i:s")}}" type="text" readonly="true" >
    </div>
</div>  
<div class="control-group">
    <label class="control-label">Fecha de factura</label>
    <div class="controls">
        <input value="{{compra.fechaFactura |date("d/m/Y")}}" type="text" readonly="true" >
    </div>
</div>  
<div class="control-group">
    <label class="control-label">Punto de vanta y número</label>
    <div class="controls">
        <div class="input-append">
            <input type="text" value="{{compra.serie}} - {{compra.numero}}" readonly="true" >
        </div>
    </div>
</div>                  
<div class="control-group">
    <label class="control-label">Tipo</label>
    <div class="controls">
        <div class="input-append">
            <input type="text" value="{{compra.tipo}}" readonly="true" >
        </div>
    </div>
</div>                  
                
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header">
        <h2><i class="icon-th"></i><span class="break"></span>Productos</h2>
</div>
<div class="box-content">
<p>

<table class="table table-bordered table-hover" id="itemsCompra">
    <thead class="header">
                    <th>Producto</th>
                    <th>Cantidad</th>
                    <th>Unidad de medida</th>
                    <th title="Precio de costo unitario">PCU</th>
                    <th>Descuento en %</th>
                    {%if compra.tipo == 'A'%}
                    <th>IVA %</th>
                    <th>Total en $ IVA</th>
                    {%endif%}
                     
                    <th>Total en $</th>
                </thead>
                {%set AB=0%}
                {%for i in items%}
                <tr>
                <td style="text-align: right;">{{i.producto}}</td>
                <td style="text-align: right;">{{i.cantidad}}</td>
                <td style="text-align: right;">{{i.tasa}}</td>
                <td style="text-align: right;">{{i.precioCosto}}</td>
                <td style="text-align: right;">{{i.bonificacion}}</td>
                {%if compra.tipo == 'A'%}
                    <td style="text-align: right;">{{i.pIVA}} {%if i.gIVA%}- Gravado{%else%}- No Gravado{%endif%}</td>
                    <td style="text-align: right;">{{i.tIVA}}</td>
                    {%endif%}
                <td style="text-align: right;">{{i.total}}</td>
                </tr>
                {%set AB=AB+i.total%}
                {%endfor%}
                <tfoot>
        <tr><td></td><td></td>{%if compra.tipo=='A'%}<td></td><td></td>{%endif%}<td></td><td></td><td><b class="pull-right"> Sub-Total</b></td><td>
    {%if compra.tipo=='A'%}$ {{libro.neto}}{%else%}$ {{AB | number_format (2,'.',',')}}{%endif%}
    </td></tr>{%if compra.tipo=='A'%}
    {%for i in libro.item%}
    <tr><td></td><td></td><td><td></td><td></td><td></td><td><b class="pull-right">{%if i.gravado%}
                    IVA gravado {{i.tasa}} %
                    {%else%}
                    IVA no gravado {{i.tasa}} %
                   {%endif%} </b></td><td>
 
        $ {{i.total}}
    </td></tr>
    {%endfor%}
       {%endif%}
       <tr><td></td><td></td>{%if compra.tipo=='A'%}<td></td><td></td>{%endif%}<td></td><td></td><td><b class="pull-right"> Descuento %</b></td><td>      
               $ {{compra.descuento}}
           </td></tr>
       <tr><td></td><td></td>{%if compra.tipo=='A'%}<td></td><td></td>{%endif%}<td></td><td></td><td><b class="pull-right"> TOTAL en $</b></td><td id="totalCompra">      
                {{totalItem}}
           </td></tr>
        </tfoot>
            </table>                     
</p>
            </div>
        </div><!--/span-->
    </div>
<div class="row-fluid sortable ui-sortable">
<div class="box span12">
<div class="box-header">
        <h2><i class="icon-th"></i><span class="break"></span>Pagos registrados</h2>
</div>
<div class="box-content">
<p>
    {%set total=0%}
{%if pagos | length > 0 %}
<table class="table table-bordered table-hover" id="pagos">
    <thead class="header">
                    <th>Tipo de pago</th>
                    <th>Aclaración</th>
                    <th>Fecha</th>
                    <th>Fecha de registro</th>
                    <th>Importe en $</th>
                </thead>
                {%for i in pagos%}
                {%set total=i.importe + total %}
                <tr>
                <td>{{i.tipoCobro}} <button title="Mostrar detalles de tipo de pago." type="button" id="btn{{i.id}}" class="btn" onclick="pop('{{i.id}}', this);"><i class="fa-icon-eye-open"></i></button></td>
                <td>{{i.aclaracion}}</td>
                <td>{{i.fecha | date("d/m/Y")}}</td>
                <td>{{i.fechaEmision | date("d/m/Y g:ia")}}</td>
                <td style="text-align: right;" >{{i.importe}}</td>
                </tr>
                {%endfor%}
                <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><b class="pull-right">TOTAL en $</b></td>
                        <td style="text-align: center;" id="totalPagosViejos"> {{ total}}</td>
                    </tr>
                </tfoot>
            </table>
{%else%}
<h3>No se han registrado pagos</h3>
{%endif%}
</p>
</div>
        </div><!--/span-->
    </div> 
            
            
                     <div class="control-group pull-right">
                            <label class="control-label"for="totalPagos">Faltan</label>
                            <div class="controls"><div class="input-prepend input-append">
                                    <span class="add-on">$</span>
                                    <input class="" type="text" autocomplete="off" onkeypress="return isNumberKey(this,event);" value="{{ (totalItem- total )}}" id="resto"  readonly="readonly"  dir="rtl">
                                </div>
                                </div>
                        </div>
        <div><br><br></div>
            </form>
