
<pdf Author="Piotr Sliwa" Title="Test document">
    <dynamic-page margin='50px' page-size="{%block tipo_hoja%}{%endblock tipo_hoja%}{%block orientacion_hoja%}{%endblock orientacion_hoja%}">
        <placeholders>        
<header>
    <div height="35px" width="100%">
    
        {%block cabecera%}
               <table border.type="none"  font-type="helvetica">
                <tr border.type="none" text-align="left">
                <td text-align="left"  border.type="none" >
                    <div >
                        <div  font-size="9"   font-style="italic">{{empresa.nombre}}</div>
                    </div>
                </td>
                <td text-align="right"   border.type="none">
                    <div font-size="9">{%block titulo_reporte%}{%endblock titulo_reporte%}</div>
                    
                    </td>
                </tr>
              </table>
             
              
        {%endblock cabecera%}
     
    </div>
</header>

<footer>
    
    <div padding-top="15px" width='100%' height="20px" >
                            <table>
                                <tr>
                                    <td border.type="none" width='33.33' text-align="left">Fecha de Emisión: {{'now' |date("d/m/Y g:ia")}}</td>
                                    <td border.type="none" width='33.33' text-align="center">Emitido por: {{app.user.apellido}}, {{app.user.nombre}} ({{app.user.username}})</td>
                                    <td border.type="none" width='33.33' text-align="right" padding-right="50px"><page-info  offset="0" format="Página %s de %s" /></td>
                                </tr>
                            </table>

                        </div>
</footer>         
</placeholders>
            {%block contenido%}
                <table border.type="none"  font-type="helvetica">
                <tr border.type="none" text-align="left">
                <td border.type="none" width="22%">
                        
                        <div font-size="20" height="115px" text-align='center' border-color="gray" border-size="0.5" >
                        {%if empresa.foto is defined and empresa.foto is not null%}   {%if empresa.foto.path!=null%}<img  float="left"  width="100%" height="100%" src="{{empresa.foto.AbsolutePath}}" />{%else%} {{empresa.nombre}} {%endif%}{%else%} {{empresa.nombre}} {%endif%}
                        </div>
                        
                </td>
                <td text-align="left" width="40%"  border.type="none" padding-left="10px" >
                    <div >
                        <div  font-size="18"   font-style="bold">{{empresa.nombre}}</div>
                        <div  font-size="12"   font-style="italic">{{empresa.slogan}}</div>
                    </div>
                        <div  font-size="10">{{empresa.direccion}}</div>
                        <div  font-size="10">Tel: {%set ite=0%}{%for i in empresa.telefonos%}{%set ite=ite+1%} ({{i.nacional}}){{i.caracteristica}}-{{i.numero}} {%if ite>1%} | {%endif%} {%endfor%}</div>
                </td>
                <td border.type="none" width="15%"></td>
                <td border.type="none" width="15%"></td>
                </tr>
              </table>      
            {%endblock contenido%}
            
    </dynamic-page>
</pdf>
    
     
