<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
            <thead class="header">
            <tr>
                <th style="color: black;"  onclick="selTodosImp(this);" id="celdaTodos" estado="0"><i class="fa-icon-print"></i></th>
                <th>Fecha aaaa/mm/dd</th>
                <th style="text-align: center">Tipo</th>
                <th>Número</th>
                <th>Proveedor</th>
                <th>CUIT</th>
                <th>Cond. IVA</th>
                <th>Neto</th>
                {%for i in tasas%}
                    {%if i.gravado%}
                    <th>IVA gravado {{i.tasa}} %</th>
                    {%else%}
                    <th>IVA no gravado {{i.tasa}} %</th>
                   {%endif%} 
                {%endfor%}
                <th>Acrecentamiento</th>
                <th>Total</th>
            </tr>
            </thead>
           {%set j=0%}
            {% for i in items%}
            <tr>
                <td><input type="checkbox" id-fila="{{i.id}}" class="imprimirDatos"></td>
                <td>{{i.fecha | date("Y/m/d")}} <span style="display: none;">{{i.fecha | date("H:i:s")}}</span></td>
                <td style="text-align: center;width: fit-content"> Fact {{i.tipo}}</td>
                <td>{{i.compra.nro}}</td>
                <td>{{i.razonSocial}}</td> 
                <td>{{i.cuit}}</td> 
                <td style="text-align: center;width: fit-content">{{i.condIva}}</td> 
                <td>{{i.Neto}}</td>
                {%if (i.tipo=='A') %}
                    {%for item in i.item%}
                        <td>{{item.total}}</td>
                    {%endfor%}
                        {%if (i.item|length < tasas|length) %}
                            {% for j in range(1,(tasas|length - i.item|length )) %}
                                    <td>0.00</td>
                            {% endfor %}  
                        {%endif%}
                {%else%}
                    {% for j in range(1,(tasas|length)) %}
                            <td>0.00</td>
                    {% endfor %}
                {%endif%}
                <td>{{i.acrecent}}</td>
                <td>{{i.total}}</td> 
                 
            </tr>   
            {% endfor %}
            <tfoot>
                <tr>
                    <td style="text-align: right;" colspan='6'>
                        <b>TOTALES</b>
                    </td>
                     <td style="text-align: right;">
                        <b>${{totales.neto}}</b>
                        </td>
                    {%for i in totales.totales%}
                        <td style="text-align: right;">
                        <b>$ {{i.total}}</b>
                        </td>
        
                    {%endfor%}
                       <td style="text-align: right;">
                        <b>$ {{totales.acre}}</b>
                        </td> 
                         <td style="text-align: right;">
                        <b>${{totales.total}}</b>
                        </td> 
                </tr>
            </tfoot>
        </table>
