{% extends "::base.html.twig" %}
{%block title%}Registros de pagos de servicios{%endblock%}
{%block ruta%}
<li>
    <a href="{{path('index')}}">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Registros de pagos de servicios</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
        <legend>Registros de pagos de servicios</legend>
        {% if msj %}
            <div class="alert alert-success">
            <button type='button' class='close' data-dismiss='alert'>×</button>
            <strong>Muy bien! </strong> {{ msj }}
            </div>  
        {% endif %}
        {% if error %}
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>¡CUIDADO!</h4>
                {{ error }}
            </div>
        {% endif %}
        
        <div class="pull-right btn-group">
            {%if app.user.role.obtenerPermiso('facturaServicio_nuevo')%}
                <a  href="{{path('nuevaFS')}}"  title="Nueva factura de servicio"  class="btn"><i class="icon-plus-sign"></i></a>
            {% endif %}
            {%if app.user.role.obtenerPermiso('servicio_listar')%}    
            <a title="Ir a lista de servicios" href="{{path('servicios')}}" class="btn"><i class="fa-icon-list"></i></a>
            {% endif %}
            {%if app.user.role.obtenerPermiso('facturaServicio_imprimir')%}
            <a class="btn" target="_blank" title="Imprimir lista de elemntos buscados" onclick="imprimirTabla(this);"><i class="icon-print"></i></a>
            {% endif %}
        </div>
        <div><br> <br></div>
        
        <div>
        <div class="accordion" id="acordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#acordion" href="#collapseOne">
               Buscar por fechas
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1B" data-toggle="tab">Por los últimos </a>
                        </li>
                        <li>
                            <a href="#2B" data-toggle="tab">Entre dos fechas</a>
                        </li>
                        <li>
                            <a href="#3B" data-toggle="tab">Por periodo</a>
                        </li>
                    </ul>
                        <div class="tab-content">
                            <div class="tab-pane active"  id="1B">
                                
                                 <div class="input-append">
                                <input class="" type="number" autocomplete="off" min="0" onkeypress="return isNumberKey(this,event);" id="1BTiempo"  placeholder="##">
                                <select id="1BCombo">
                                    <option value="1">Días</option>
                                    <option value="2">Semanas</option>
                                    <option value="3">Meses</option>
                                    <option value="4">Años</option>
                                </select>
                                <button type="button" class="btn btn-primary" onclick="buscar1()">Buscar  <i class="fa-icon-search"></i></button>    
                                </div>
                            </div>
                            <div class="tab-pane" id="2B"> 
                                Desde
                                <input type="text" id="2BFecha1"  value="{{'now'| date('d/m/Y')}}" class="datepicker">
                                Hasta
                                <div class="input-append">
                                    <input type="text" id="2BFecha2" value="{{'now'| date('d/m/Y')}}"  class="datepicker" >
                                
                                    <button type="button" class="btn btn-primary" onclick="buscar2()">Buscar  <i class="fa-icon-search"></i></button>
                                 </div>
                            </div>
                            <div class="tab-pane"  id="3B">
                                <div class="input-append">
                                <select id="3BCombo">
                                    <option value="0" title="Busca por la fecha exacta">Fecha exacta</option>
                                    <option value="1" title="Busca todos hasta la fecha establecida">Hasta</option>
                                    <option value="2" title="Busca todos desde la fecha establecida, hasta el dia de hoy">Desde</option>
                                </select>
                               
                                <input type="text" id="3BFecha1"  value="{{'now'| date('d/m/Y')}}" class="datepicker">
                                <button type="button" class="btn btn-primary" onclick="buscar3()">Buscar  <i class="fa-icon-search"></i></button>
                               </div>
                                    <br>
                               <div class="input-append">
                                <select id="4BCombo">
                                    <option value="0" title="Busca solo por años">Buscar sólo por años</option>
                                    <option value="1">Enero</option><option value="2">Febrero</option>
                                    <option value="3">Marzo</option><option value="4">Abril</option>
                                    <option value="5">Mayo</option><option value="6">Junio</option>
                                    <option value="7">Julio</option><option value="8">Agosto</option>
                                    <option value="9">Septiembre</option><option value="10">Octubre</option>
                                    <option value="11">Noviembre</option><option value="12">Diciembre</option>
                                </select>
                                <input class=""  value="{{'now'| date('Y')}}" type="number" autocomplete="off"  min="0" onkeypress="return isNumberKey(this,event);" id="4BAño"  placeholder="Ej. 2013">
                                <button type="button" class="btn btn-primary" onclick="buscar4()">Buscar  <i class="fa-icon-search"></i></button>
                               </div>     
                            </div>
                        </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
        <div class="pull-left">
                <button class="btn" type="button" onclick="restablecer();">Restablecer tabla <i class="fa-icon-refresh"></i></button>
            </div>
                <div><br><br></div>
        </div>
            <div class="pull-right">Total <div class="input-prepend input-append">
                <span class="add-on">$</span>
                <input class="" value="{{total}}" type="text" autocomplete="off" onkeypress="return isNumberKey(this,event);" 
                       id="totalCompras" readonly="readonly"></div> 
          </div> 
            <div><br> <br></div>
        <div id="divTabla">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
            <thead class="header">
                <tr>
                    <th id="primeraCol">Fecha (aaaa/mm/dd)</th>
                    <th>N°</th>
                    <th>Servicio</th>
                    <th style="text-align: center" >Periodo</th>
                    <th>Total</th>
                    <th style="text-align: center">Acciones</th>
                </tr>
            </thead>
            {% for r in registros%}
            <tr id="{{r.id}}">
                
                <td>{{r.fechaFactura|date("Y/m/d")}}<span style="display: none;">{{r.fechaEmision | date("H:i:s")}}</span></td>
                <td>{{r.serie}} - {{r.numero}}</td>
                <td>{{r.servicio.nombre}} ({{r.servicio.nombreEmpresa}})</td>
                <td style="text-align: center;width: fit-content">{{r.periodo}}</td>
                <td  style="text-align: right">{{r.total}}</td>
                <td style="text-align: center;width: fit-content" >
                    <a href="#" onclick="detallesModal('{{r.id}}');" title="Ver detalles"><i class="fa-icon-list-alt"></i></a> 
                </td>
                </div>
            </tr>   
            {% endfor %}
        </table>
        </div>
        </div>
    </div>
    </div>
    {% endblock %}
 {%block modal%}      
 <div id="verModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
  <div class="modal-body">
      <div id="detalles">
      </div>         
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
  </div>
</div>

{% endblock %}
        
{% block javascripts %}
        
    {{parent()}}

<script>
function eliminarModal(id,txt){
        
        var url = "{{path('eliminarMP', { 'id': '__id__' })}}".replace(/__id__/g, id);       
        var par= document.getElementById('txtElim');
        par.removeChild(par.firstChild);
        var contenido = document.createTextNode(txt);
        par.appendChild(contenido);
        $('#btnEliminar').attr('href',url);
        $('#eliminarModal').modal('toggle');
    }
    
    function imprimirTabla(ele){
          var tabla = document.getElementById('example');
          var rows = tabla.getElementsByTagName('tr');
          var filas= new Array(rows.length);
          for (var i = 1; i<rows.length ;i++){
            filas[i-1]=rows[i].id;
          }
          
        var url = "{{path('impListaFS', { 'ids': '__ids__' , '_format':'pdf'})}}".replace(/__ids__/g,filas);
        url= url.replace('amp;', '');
        url= url+'&info='+$('#example_info').text();
        $(ele).attr('href',url);
      
    }
    function detallesModal(id){
        var url = "{{path('fs')}}";
        $('#detalles').load(url,{'id':id});
        $('#verModal').modal('toggle');
    }
    
    
    $(document).ready(function  (){
        $('#primeraCol').trigger('click');
        txt();
         });
    
    
    function eliminarModalIng(id,txt){
        
        var url = "{{path('eliminarIngrediente', { 'id': '__id__' })}}".replace(/__id__/g, id);       
        var par= document.getElementById('txtElimIng');
        par.removeChild(par.firstChild);
        var contenido = document.createTextNode(txt);
        par.appendChild(contenido);
        $('#btnEliminarIng').attr('href',url);
        $('#eliminarModalIng').modal('toggle');
    }
        var flag;

    function entregado(url, id, tipo){

       $.post(url, {id:id, tipo:tipo} , function(data) {
           
    });
        location.reload();
    }
    function restablecer(){
        var div = document.getElementById('divTabla');
        $(div.firstElementChild).remove();
        var img = document.createElement('img');
        img.src='{{asset('images/loading.gif')}}';      
        $(div).append(img);
        $(div).load('{{path('buscarFacturaServicio')}}',{'tipo':'-1'}, function (){
                cargarTabla();
                
            });
    }
    function buscar1(){
        var tiempo=$('#1BTiempo').val(); 
        var clase= $("#1BCombo").val() ;
        if ($.isNumeric(tiempo)&&tiempo>=0) {
            var div = document.getElementById('divTabla');
            $(div.firstElementChild).remove();
            var img = document.createElement('img');
            img.src='{{asset('images/loading.gif')}}';      
            $(div).append(img);
            $(div).load('{{path('buscarFacturaServicio')}}',{'tipo':'0','tiempo':tiempo, 'clase':clase}, function (){
                cargarTabla();
                $("#totalCompras").val($("#totalHidden").val()); 
            });
       } else
            msjWC('Error al ingresar el tiempo.'); 
    }
    function buscar2(){
    var tabla = document.getElementById('example');
        var fecha1=$('#2BFecha1').val();
        var fecha2=$('#2BFecha2').val();      
        if (isDate(fecha1)&&isDate(fecha2)) {
            var div = document.getElementById('divTabla');
            $(div.firstElementChild).remove();
            var img = document.createElement('img');
            img.src='{{asset('images/loading.gif')}}';      
            $(div).append(img);
            $(div).load('{{path('buscarFacturaServicio')}}',{'tipo':'1','fecha1':fecha1, 'fecha2':fecha2}, function (){
                cargarTabla();
                $("#totalCompras").val($("#totalHidden").val()); 
            });
       } else
            msjWC('Error al ingresar las fechas');
        
    }
    
    function buscar3(){
        var fecha1=$('#3BFecha1').val();
        var clase= $("#3BCombo").val() ;
        if (isDate(fecha1)) {
            var div = document.getElementById('divTabla');
            $(div.firstElementChild).remove();
            var img = document.createElement('img');
            img.src='{{asset('images/loading.gif')}}';      
            $(div).append(img);
            $(div).load('{{path('buscarFacturaServicio')}}',{'tipo':'2','fecha1':fecha1, 'clase':clase}, function (){
                cargarTabla();
                $("#totalCompras").val($("#totalHidden").val()); 
            });
       } else
            msjWC('Error al ingresar la fecha');
        
    }
    function buscar4(){
        var año=$('#4BAño').val(); 
        var mes= $("#4BCombo").val() ;
        if ($.isNumeric(año)&&año>0) {
            var div = document.getElementById('divTabla');
            $(div.firstElementChild).remove();
            var img = document.createElement('img');
            img.src='{{asset('images/loading.gif')}}';      
            $(div).append(img);
            $(div).load('{{path('buscarFacturaServicio')}}',{'tipo':'3','año':año, 'mes':mes}, function (){
                cargarTabla();
                $("#totalCompras").val($("#totalHidden").val()); 
            });
       } else
            msjWC('Error al ingresar el tiempo.'); 
    }
    
    function cargarTabla(){
        $('.table.table-striped.table-bordered').dataTable( {
		"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
		"sPaginationType": "bootstrap",
		"oLanguage": {
			"sLengthMenu": "_MENU_ Registros por página",
                        "sSearch": "Buscar:",
                        "sInfo": " Mostrado _START_ a _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrado 0 a 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros totales)",
                        "sZeroRecords": "Ningun registro encontrado",
                        "oPaginate": {
				             "sPrevious": "Anterior",
                                             "sNext": "Siguiente"
				     }
		}
	} );
        txt();
         $("#txtBuscarTabla").trigger('keyup');
         $('#primeraCol').trigger('click');
    }
    function imprimirDetalle(ele, id){
       var url = "{{path('notas', { 'id': '__id__' , '_format':'pdf'})}}".replace(/__id__/g,id);
       url= url.replace('amp;', ''); 
       $(ele).attr('href',url);
    }
    function pop(id, btn){
       var icono=btn.firstChild;
       if ($(icono).attr('class')=='fa-icon-eye-open'){
        $.getJSON("{{path ('obtenerValores')}}",{'id':id} ,function (json){
            var div='';
            for (var i =0;i<json.length;i++ )
                div=div+'<b>'+json[i].nombre+':</b> '+json[i].valor+'<br>';
            
            btn.title='Ocultar detalles de tipo de pago.';
            $(icono).removeClass('fa-icon-eye-open').addClass('fa-icon-remove');
            $(btn).popover({
                html:true,
                trigger:'manual',
                title:'Datos de tipo de pago: ',
                content:div
            });
           $(btn).popover('show');           
        });
        }else{
            btn.title='Mostrar detalles de tipo de pago.';
            $(icono).removeClass('fa-icon-remove').addClass('fa-icon-eye-open');
            $(btn).popover('hide'); 
        }
    }
    function txt(){
       $("#txtBuscarTabla").keyup (function() {
            var table = document.getElementById('example');
            var rows = table.getElementsByTagName('tr');
            var total = parseFloat('0.00');
            for (var i = 1; i <rows.length; ++i) {          
                var num =$(rows[i].cells[4]).text(); 
                if (!($.isNumeric(num))){
                    num = parseFloat('0.00');;
                }else{
                    num = parseFloat(num);             
                }
                total=num+total;
            }
            if ($.isNumeric(total))
            $('#totalCompras').val(total.toFixed(2)); 

               });
   }
    </script>
{% endblock%}
    {% block css %}
    {{parent()}}

<style type="text/css">
.modal.fade.in {
top: 3%;
}
.modal   {
    width: 730px;
    left: 47%;
    right: 260px; /* PLAY THE WITH THE VALUES TO SEE GET THE DESIRED EFFECT */
}
.modal-body   {
    max-height:  475px;
    width: 700px;
    
}

 </style>
{% endblock%}