{% extends "::base.html.twig" %}
{%block title%}Nuevo servicio{%endblock%}
{%block ruta%}
<li>
    <a href="{{path('index')}}">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="{{path('servicios')}}">Servicios</a>
</li></a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Nuevo servicio</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
        <legend>Nuevo servicio</legend>
        <form action="{{path('nuevoServicio')}}" method="post" class="form-horizontal">
        {% if error %}
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>¡CUIDADO!</h4>
                {{ error }}
            </div>
        {% endif %}
        {{ form_widget(form) }}
        {{ form_rest(form) }}
       <div class="form-actions">
            <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
            <a href="{{path('servicios')}}" type="button" class="btn">Cancelar</a>
        </div>   
        </form>
        </div>
    </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{parent()}}

<script type="text/javascript">
var clase ='sisgg_finalbundle_serviciotype_';
$(document).ready(function  (){ 
 });
 function cambioResp(ele){
     if ($(ele).val()==true){
         $('#'+clase+'iva').attr('disabled', false);
         $('#'+clase+'iva').attr('required', true);
     }else{
         $('#'+clase+'iva').attr('disabled', true);
         $('#'+clase+'iva').attr('required', false);
     }
 }
 </script>
{%endblock%}