{% extends app.request.isXmlHttpRequest ? "::ajax.html.twig" : "SisGGFinalBundle:Cajero:cajero.html.twig" %}
{%block title%}Auditoria{%endblock%}
{%block css%}
{{parent()}}
<style type="text/css">
        .detalleDato{
            min-width: 100px;
        }
    </style>
{%endblock%}
{%block ruta%}
<li>
    <a href="#">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Auditoria</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid">
    <div class="box span12">
        <div class="box-content">
            <legend>Auditorias
                <div class="pull-right btn-group">
                    {%if app.user.role.obtenerPermiso('auditoria_descargar_archivo')%}
                    <a  href="{{path('archivoAuditoria')}}" title="Guardar y descargar CSV de auditoria"class="btn"><i class="fa-icon-file"></i></a>
                    {%endif%}
                    {%if app.user.role.obtenerPermiso('auditoria_imprimir')%}
                    <a class="btn"  title="Imprime el historal de auditoria" onclick="$('#modalDatos').modal('toggle');"><i class="icon-print"></i></a>
                    {%endif%}
                </div>
                </legend>
                {% if msj %}
                    <div class="alert alert-success">
                    <button type='button' class='close' data-dismiss='alert'>×</button>
                    <strong>Muy bien! </strong> {{ msj }}
                    </div>  
                {% endif %}
                {% if error %}
                    <div class="alert alert-block">
                        <button type="button" class="close" data-dismiss="alert">×</button>
                        <h4>¡CUIDADO!</h4>
                        {{ error }}
                    </div>
                {% endif %}
                <div class="accordion" id="acordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#acordion" href="#collapseOne">
               Buscar por fechas
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
              <div class="accordion-inner">
                <div class="tabbable tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#1B" data-toggle="tab">Por los últimos </a>
                        </li>
                        <li>
                            <a href="#2B" data-toggle="tab">Entre dos fechas</a>
                        </li>
                        <li>
                            <a href="#3B" data-toggle="tab">Por periodo</a>
                        </li>
                    </ul>
                        <div class="tab-content">
                            <div class="tab-pane active"  id="1B">
                                
                                 <div class="input-append">
                                <input class="" type="number" autocomplete="off" min="0" onkeypress="return isNumberKey(this,event);" id="1BTiempo"  placeholder="##">
                                <select id="1BCombo">
                                    <option value="1">Días</option>
                                    <option value="2">Semanas</option>
                                    <option value="3">Meses</option>
                                    <option value="4">Años</option>
                                </select>
                                <button type="button" class="btn btn-primary" onclick="buscar1()">Buscar  <i class="fa-icon-search"></i></button>    
                                </div>
                            </div>
                            <div class="tab-pane" id="2B"> 
                                Desde
                                <input type="text" id="2BFecha1"  value="{{'now'| date('d/m/Y')}}" class="datepicker">
                                Hasta
                                <div class="input-append">
                                    <input type="text" id="2BFecha2" value="{{'now'| date('d/m/Y')}}"  class="datepicker" >
                                
                                    <button type="button" class="btn btn-primary" onclick="buscar2()">Buscar  <i class="fa-icon-search"></i></button>
                                 </div>
                            </div>
                            <div class="tab-pane"  id="3B">
                                <div class="input-append">
                                <select id="3BCombo">
                                    <option value="0" title="Busca por la fecha exacta">Fecha exacta</option>
                                    <option value="1" title="Busca todos hasta la fecha establecida">Hasta</option>
                                    <option value="2" title="Busca todos desde la fecha establecida, hasta el dia de hoy">Desde</option>
                                </select>
                               
                                <input type="text" id="3BFecha1"  value="{{'now'| date('d/m/Y')}}" class="datepicker">
                                <button type="button" class="btn btn-primary" onclick="buscar3()">Buscar  <i class="fa-icon-search"></i></button>
                               </div>
                                    <br>
                               <div class="input-append">
                                <select id="4BCombo">
                                    <option value="0" title="Busca solo por años">Buscar sólo por años</option>
                                    <option value="1">Enero</option><option value="2">Febrero</option>
                                    <option value="3">Marzo</option><option value="4">Abril</option>
                                    <option value="5">Mayo</option><option value="6">Junio</option>
                                    <option value="7">Julio</option><option value="8">Agosto</option>
                                    <option value="9">Septiembre</option><option value="10">Octubre</option>
                                    <option value="11">Noviembre</option><option value="12">Diciembre</option>
                                </select>
                                <input class=""  value="{{'now'| date('Y')}}" type="number" autocomplete="off"  min="0" onkeypress="return isNumberKey(this,event);" id="4BAño"  placeholder="Ej. 2013">
                                <button type="button" class="btn btn-primary" onclick="buscar4()">Buscar  <i class="fa-icon-search"></i></button>
                               </div>     
                            </div>
                        </div>
                </div>  
              </div>
            </div>
          </div>
        </div>
                <div class="pull-left">
                <button class="btn" type="button" onclick="restablecer();">Restablecer tabla <i class="fa-icon-refresh"></i></button>
            </div>
                <div><br><br></div>
                <div id="divTabla">
            <table class="table table-striped table-bordered" id="example">
                <thead class="header">
                    <tr>
                        <th style="color: black;"  onclick="selTodosImp(this);" id="celdaTodos" estado="0"><i class="fa-icon-print"></i></th>
                        <th title="Mostrar datos"></th>
                        <th id="primeraCol">#</th>
                        <th>Entidad</th>
                        <th>Accion realizada</th>
                        <th>Fecha y hora</th>
                        <th>Usuario</th>
                        <th style="display: none" >Datos</th>
                    </tr>
                </thead>
                <tbody>
                {%set j=1%}        
                   {%for entrie in entries%}
                        <tr id="{{entrie.id}}">
                            <td><input type="checkbox" id-fila="{{entrie.id}}" class="imprimirDatos"></td>
                            <td><a href="javascript:void(0);" title='Mostrar Datos' onclick="detalles('{{entrie.id}}',this);"><i class="icon icon-chevron-right"></i></a></td>
                            <td>{{entrie.id}}</td>
                            <td>{{entrie.objectClass|split('\\')[3]}}</td>
                            <td>{{entrie.action|trans}}</td>
                            <td>{{entrie.loggedat|date("d/m/Y H:i")}}</td>
                            <td><a href="#" onclick="usuario('{{entrie.username}}');">{{entrie.username}}</a></td>
                            <td style="display: none;" class="datos"> {%for key in entrie.data|keys%}
                                <span class="span2">{{key|title}}: 
                            {%if entrie.data[key].timestamp is defined%} {{entrie.data[key]|date("d/m/Y g:ia")}}{%else%}{%for en in entrie.data[key]%} {{en}}{%else%} {{entrie.data[key]}}{%endfor%}{%endif%}</span>
                            {%endfor%} </td> 
                        </tr>
                        {%set j=j+1%}
                    {%endfor%}        
                    </tbody>
                </table>    
            </div>
                </div>
        </div><!--/span-->
    </div><!--/row-->
{% endblock %}
{%block javascripts%}
    {{parent()}}
    <script type="text/javascript">
        $().ready(function(){
            $('#primeraCol').trigger('click');
            $('#primeraCol').trigger('click');
            $("#txtBuscarTabla").keyup(function(){
                $(".expanded").each(function(){
                    $(this).removeAttr("class");
                    $(this).attr("title","Mostrar Datos");
                    $(this).html("<i class='icon icon-chevron-right'></i>");
                });
            });
        });
        
        function usuario(nombre){
            $('#dataDetalleUsuario').load("{{path('usuarios')}}", {usuario:nombre});
            $("#detalleUsuario").modal("show");
        }
        
        function detalles(id,ele){
            if ($(ele).attr("class")=='expanded'){
                $(ele).html("<i class='icon icon-chevron-right'></i>");
                $(ele).removeAttr("class");
                $(ele).attr("title","Mostrar Datos");    
                $("#"+id+"detalles").remove();
            }else{
                $(ele).html("<i class='icon icon-chevron-down'></i>");
                $(ele).attr("class","expanded");
                $(ele).attr("title","Ocultar Datos");
                $("#"+id).after("<tr id='"+id+"detalles'><td></td><td colspan='5'>"+$("#"+id+" .datos").html()+"</td></tr>");
                
            }
        }
       
        function imprimirTabla(ele){
            /*var tabla = document.getElementById('example');
            var rows = tabla.getElementsByTagName('tr');
            var filas= new Array(rows.length);
            for (var i = 1; i<rows.length ;i++){
              filas[i-1]=rows[i].id;
            }*/
            var filas= new Array();
            $('.imprimirDatos').each(function (){
                if ($(this).attr('checked')=="checked"){
                   filas[filas.length]=$(this).attr('id-fila');
                }
            });
            var url = "{{path('impListaAuditoria', {'_format':'pdf'})}}";
            url= url.replace('amp;', '');
            url= url+'&info='+$('#example_info').text();
            if ($(ele).attr('tipo')=='si')
                url= url+'&datos=true';
            
            $("#formImpAuditoria").attr('action',url);
            $("#ids").val(filas);
            $("#formImpAuditoria").submit();
            $('#modalDatos').modal('toggle'); 
        
        
    }
     function restablecer(){
        var div = document.getElementById('divTabla');
        $(div.firstElementChild).remove();
        var img = document.createElement('img');
        img.src='{{asset('images/loading.gif')}}';      
        $(div).append(img);
        $(div).load('{{path('buscarAuditorias')}}',{'tipo':'-1'}, function (){
                cargarTabla();
                
            });
    }  
    
    function buscar1(){
        var tiempo=$('#1BTiempo').val(); 
        var clase= $("#1BCombo").val() ;
        if ($.isNumeric(tiempo)&&tiempo>=0) {
            var div = document.getElementById('divTabla');
            $(div.firstElementChild).remove();
            var img = document.createElement('img');
            img.src='{{asset('images/loading.gif')}}';      
            $(div).append(img);
            $(div).load('{{path('buscarAuditorias')}}',{'tipo':'0','tiempo':tiempo, 'clase':clase}, function (){
                cargarTabla();
                
            });
       } else
            msjWC('Error al ingresar el tiempo.'); 
    }
    function buscar2(){
    var tabla = document.getElementById('example');
        var fecha1=$('#2BFecha1').val();
        var fecha2=$('#2BFecha2').val();      
        if (isDate(fecha1)&&isDate(fecha2)) {
            var div = document.getElementById('divTabla');
            $(div.firstElementChild).remove();
            var img = document.createElement('img');
            img.src='{{asset('images/loading.gif')}}';      
            $(div).append(img);
            $(div).load('{{path('buscarAuditorias')}}',{'tipo':'1','fecha1':fecha1, 'fecha2':fecha2}, function (){
                cargarTabla();
                
            });
       } else
            msjWC('Error al ingresar las fechas');
        
    }
    
    function buscar3(){
        var fecha1=$('#3BFecha1').val();
        var clase= $("#3BCombo").val() ;
        if (isDate(fecha1)) {
            var div = document.getElementById('divTabla');
            $(div.firstElementChild).remove();
            var img = document.createElement('img');
            img.src='{{asset('images/loading.gif')}}';      
            $(div).append(img);
            $(div).load('{{path('buscarAuditorias')}}',{'tipo':'2','fecha1':fecha1, 'clase':clase}, function (){
                cargarTabla();
                
            });
       } else
            msjWC('Error al ingresar la fecha');
        
    }
    function buscar4(){
        var año=$('#4BAño').val(); 
        var mes= $("#4BCombo").val() ;
        if ($.isNumeric(año)&&año>0) {
            var div = document.getElementById('divTabla');
            $(div.firstElementChild).remove();
            var img = document.createElement('img');
            img.src='{{asset('images/loading.gif')}}';      
            $(div).append(img);
            $(div).load('{{path('buscarAuditorias')}}',{'tipo':'3','año':año, 'mes':mes}, function (){
                cargarTabla();
                 
            });
       } else
            msjWC('Error al ingresar el tiempo.'); 
    }
    
    function cargarTabla(){
        $('.table.table-striped.table-bordered').dataTable( {
		"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"sPaginationType": "bootstrap",
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
		"oLanguage": {
			"sLengthMenu": "_MENU_ Registros por página",
                        "sSearch": "Buscar:",
                        "sInfo": " Mostrado _START_ a _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrado 0 a 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros totales)",
                        "sZeroRecords": "Ningun registro encontrado",
                        "oPaginate": {
				             "sPrevious": "Anterior",
                                             "sNext": "Siguiente"
				     }
		}
	} );
        txt();
    }
    </script>
{%endblock%}
    {%block modal%}
        {{parent()}}
                    <div class="modal hide fade" id="detalleUsuario">
                        <div class="modal-header">
                            <h3>Detalles de Usuario</h3>
                        </div>
                        <div id="dataDetalleUsuario" class="modal-body">
                            <p>Here settings can be configured...</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#" class="btn btn-primary" data-dismiss="modal">Aceptar</a>
                        </div>
                    </div>
            <div class="modal hide fade" id="modalDatos">
                    <form target="_blank" method="post" id="formImpAuditoria">
                        <input type="hidden" id="ids" name="ids" >
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h3>Datos</h3>
                        </div>
                        <div  class="modal-body">
                            <p>Desea imprimir los datos implicados en cada acción?</p>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary" type="button" tipo="si"  title="Imprime el historal de auditoria con los detalles de la modificación." onclick="imprimirTabla(this);">Si</button>
                            <button target="_blank" type="button" tipo="no" title="Imprime el historal de auditoria sin los detalles de la modificación." onclick="imprimirTabla(this);" class="btn btn-danger">No</button>
                            <button  class="btn" data-dismiss="modal">Cancelar</button>
                        </div>
                        </form>
                    </div>
{%endblock%}
{%block ajax%}
{%endblock%} 
