{% extends "::base.html.twig" %}
{%block title%}Nueva mercaderia{%endblock%}
{%block ruta%}
<li>
    <a href="{{path('index')}}">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="{{path('pvs')}}">Productos para la venta</a> <span class="divider">/</span>
</li>
<li>
    <a href="{{path('mercaderias')}}">Mercaderias</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Nueva mercaderia</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
            <legend>Nueva Mercaderia</legend>
<form action="{{ path('altaMercaderia') }}" class="form-horizontal" method="post" {{ form_enctype(form) }}>
{% if error %}
<div class="alert alert-error">
    <button type='button' class='close' data-dismiss='alert'>×</button>
    <strong>{{ error }}</strong> 
</div>  
{% endif %}
        <fieldset>      
<div class="span6">
            {{ form_row(form.nombre) }}
    {{ form_row(form.descripcion) }}
        
<div class="control-group">
    <label class="control-label">Foto de plato</label>
    <div class="controls">
        <div class="accordion" id="accordion1">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" title="Click para desplegar/replegar foto" data-toggle="collapse" data-parent="#accordion1" href="#collapse1One">
                     Agregar imagen<i class="icon-circle-arrow-up"></i> 
                </a>
            </div>
            <div id="collapse1One" class="accordion-body collapse">
                 <div onmouseover="mostrarLinkFoto(this);" onmouseout="ocultarLinkFoto(this);" >
                    {{ form_widget(imagen.file) }}
                    {{ form_widget(imagen.name) }} 
                    <button type="button" id="btnFoto" style="display: none" class="btn" onclick="verFoto();" title="Mostrar foto en patalla completa"><i class="fa-icon-external-link"></i></button>      
                   <a href="#" class="thumbnail span6" title="Cambiar Foto" onclick="$('input[id={{imagen.file.get('id')}}]').click();"><img id="imagen" data-src="holder.js/180x160"  src="{{asset('images/mercaderia.jpg')}}"/></a>        
                </div>
            </div>
        </div>  
    </div>
</div>
    {{ form_row(form.precioCosto) }}
    {{ form_row(form.margen) }}
    {{ form_row(form.margenMin) }}
    {{ form_row(form.precioVenta) }}
    {{ form_row(form.iva) }}
</div>
        <div class="span6">
    {{ form_row(form.cantidad) }}
    {{ form_row(form.cantidadMinima) }}
    {{ form_row(form.proveedor) }}
    <div class="control-group">
            <label class="control-label">Unidad de medida</label>
            <div class="controls">
                <select id="um" onchange="cargarTasa(this)" name="um" required="required"></select><div class="btn-group"><button type="button" onclick="cargarUM();"  class="btn"><i title="Actualizar lista de UM" class="icon-refresh"></i></button> <a class="btn" href="{{path('ums')}}" title="Nueva Unidad de medida" target="_blank">...</a></div>
            </div>
    </div>
    {{ form_row(form.tasa) }}
    {{ form_row(form.categoria) }}
    {#<input type="text" id="cat" disabled="true"> <i onclick="actualizarArbol(); cargarCPV()" title="Actualizar arbol de categorias" class="icon-refresh"></i> <a href="{{path('nuevaCategoriaPV')}}" title="Nueva categoria" target="_blank">...</a>#}
    <div class="control-group">
        <div class="controls">
    <div class="accordion" id="accordion2">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                     Ver/Ocultar  lista de categorias <i class="icon-circle-arrow-up"></i> 
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse">
                                      
                <div class="accordion-inner">
                    <div class="input-append">
                        <input type="text" id="idNodo" onkeypress="buscarCategoria ()" autocomplete="off" class="" placeholder="Buscar Categoria">
                    <button type="button" class="btn" onclick="buscarCategoria ()"><i class="icon-search" title="Buscar"></i></button>
                    </div>
                    <p><a  href="javascript: d.openAll();">Abrir todos <i class="icon-folder-open"></i></a> | 
                        <a href="javascript: d.closeAll();">Cerrar todos <i class="icon-folder-close"></i> </a> | 
                        <a href="{{path('nuevaCategoriaPV')}}" title="Nueva categoria" target="_blank">Nueva categoria <i class="icon-plus"></i></a>
                    </p>
                    <div id="tree"></div>
                </div>
            </div>
    </div>
    </div>
    </div>
    </div>
    <div style="display: none"> {{ form_rest(form) }}</div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
        <a href="{{path('mercaderias')}}" type="button" class="btn">Cancelar</a>
    </div>        
</form>
        </div>
    </div>
</div>
{%endblock%}

{% block javascripts %}
    {{parent()}}

<script type="text/javascript">
            
    var prov='';         
$(document).ready(function  (){ 
             var divCat = document.getElementById('sisgg_finalbundle_mercaderiatype_categoria').parentNode;
            $(divCat).append('<div class="btn-group"><button type="button" onclick="actualizarArbol(); cargarCPV()" class="btn"><i title="Actualizar arbol de categorias" class="icon-refresh"></i></button> <a href="{{path('nuevaCategoriaPV')}}" class="btn" title="Nueva categoria" target="_blank">...</a></div>');       
            cargarUM();
            var comboTasa = document.getElementById('sisgg_finalbundle_mercaderiatype_tasa');
            var nombreTasa=comboTasa.options[comboTasa.selectedIndex].text;
            seleccionarUM(nombreTasa);
            var div = document.getElementById('sisgg_finalbundle_mercaderiatype_proveedor').parentNode;
            $(div).append('<div class="btn-group"><button type="button" onclick="cargarProveedor()"  class="btn"><i title="Actualizar lista de proveedores" class="icon-refresh"></i> </button><a href="{{path('nuevoProveedor')}}" title="Nueva proveedor" class="btn" target="_blank">...</a>');
            var combo=document.getElementById('sisgg_finalbundle_mercaderiatype_proveedor');
            prov=combo.options[combo.selectedIndex].value;
            cargarProveedor();
            actualizarArbol();
       
         });
    
    function actualizarArbol(){
        $('.dtree').remove();
        d = new dTree('d');
        d.add(0, -1, 'Categorias','#','Todas las categorias');
        $.getJSON("{{path ('enviarCategoriasPV')}}",function (json){
            
        for (var i=0;i<json.length;i++){
            if (json[i].add==1){
                d.add(json[i].id, json[i].padre, json[i].nombre,'#',json[i].desc,'1','/SisGG/web/tree/img/folder_add.gif');
            }
            else{
                d.add(json[i].id, json[i].padre, json[i].nombre,'#',json[i].desc,'0','/SisGG/web/tree/img/folder_noadd.gif');
             }
            }
       $('<p>'+d+ '</p>').appendTo('#tree');
        });
           
    }
    function buscarCategoria (){
        var txtNodo=document.getElementById('idNodo').value;
        $.getJSON("{{path ('buscarCategoriaPV1')}}",{n:txtNodo},function (json){
        d.openTo(json.id, true);
        var combo=document.getElementById('sisgg_finalbundle_mercaderiatype_categoria'); 
        var nombre=json.n;
        for (var i=0;i<combo.length;i++) {           
                if (combo.options[i].text==nombre){
                    combo.selectedIndex=i;
                    document.getElementById('cat').value=nombre;
                }
            }    
        });
        
                
    }
              
    function verCategoria (nodo,target){
        
        var nombre = document.getElementById(nodo).text;
        var target = document.getElementById(nodo).target;
        if (target=='1'){
            var combo=document.getElementById('sisgg_finalbundle_mercaderiatype_categoria');       
            for (var i=0;i<combo.length;i++) {           
                if (combo.options[i].text==nombre){
                    combo.selectedIndex=i;
                    document.getElementById('cat').value=nombre;
                }
            }
        }else{
            msjWC('La categoria no puede contener productos, puesto que contiene otras categorias.')
        }
    }
    function margenMax(ele){
        
        if (ele.id!='sisgg_finalbundle_mercaderiatype_margen'){
            var min=ele.value;
            var margen=document.getElementById('sisgg_finalbundle_mercaderiatype_margen').value;
            if (!($.isNumeric(margen))){
                margen=0.00;
            }else{
               margen= parseFloat(margen);
            }
            if (!($.isNumeric(min))){
                min=0.00;
            }else{
                min=parseFloat(min);
            }
            if (min>margen)
            msjWC('El margen mínimo no debe ser mayor que el margen de ganancia.');
        }
        
        else{
            
            var margen=ele.value;
            var margenMin=document.getElementById('sisgg_finalbundle_mercaderiatype_margenMin').value;
             if (!($.isNumeric(margen))){
                margen=0.00;
            }else{
               margen= parseFloat(margen);
            }
            if (!($.isNumeric(margenMin))){
                margenMin=0.00;
            }else{
                margenMin=parseFloat(margenMin);
            }
            if (margen<margenMin){
             msjWC('El margen mínimo no debe ser mayor que el margen de ganancia.');
                $.noty.closeAll();
                }
        }
        
    }
    
    function aumentarMargen(n){       
        var margen=document.getElementById('sisgg_finalbundle_mercaderiatype_margen');     
        var venta=document.getElementById('sisgg_finalbundle_mercaderiatype_precioVenta');     
        var costo=document.getElementById('sisgg_finalbundle_mercaderiatype_precioCosto');
        margenMax(margen);
        if ((!(isNaN(costo.value)))&&(!(isNaN(margen.value)))&&(!(isNaN(margen.value)))){
            if (n==1){             
            venta.value=pasarDecimal(((margen.value/100)+1)*costo.value,2);
            margen.value=pasarDecimal(margen.value,2);
          }else if ((n==2)&&((costo.value!=0))){             
            var v=((venta.value/costo.value)-1)*100;
            margen.value=pasarDecimal(v,2);
            if (v<0) margen.value=0                         ;
            }
            else if (n==0){ 
             venta.value=pasarDecimal(((margen.value/100)+1)*costo.value, 2);
            if (costo.value<=0) margen.value=0 ;
            }
        }
        
    }
    
    function cargarUM(){
        $('#um').load("{{ path('cargarUM')}}", function() {             
            }); 
    }
    function cargarTasa(combo){
        var name=combo.options[combo.selectedIndex].value;
        $('#sisgg_finalbundle_mercaderiatype_tasa').load("{{ path('cargarTasa')}}",{'name':name}, function() {             
            }); 
    }
    
    function cargarCPV(){
        $('#sisgg_finalbundle_mercaderiatype_categoria').load("{{ path('cargarCategoriaPV')}}", function() {
            actualizarArbol();
            }); 
             
    }
    function cargarProveedor(){
        $('#sisgg_finalbundle_mercaderiatype_proveedor').load("{{ path('cargarProveedor')}}", {'name':prov}, function() {             
            }); 
    }
    function seleccionarUM(tasa){       
       $.getJSON("{{path ('buscarUMdeTasa')}}",{name:tasa},function (json){
            var combo=document.getElementById('um');
            seleccionarTasa(tasa);
            for (var i=0;i<combo.length;i++){
                if (combo.options[i].text==json.name){
                    combo.options[i].selected="selected";                   
                }
            }
        });       
    }
    
    function seleccionarTasa(tasa){
        var comboTasa=document.getElementById('sisgg_finalbundle_mercaderiatype_tasa');
        $(comboTasa).load("{{ path('seleccionarTasa')}}",{'name':tasa}, function() {             
            });
    }
    function handleFileSelect(evt) {
    var files = evt.target.files; 
    for (var i = 0, f; f = files[i]; i++) {
      if (!f.type.match('image.*')) {
          msjAC('puco y padron');
        continue;
      }else{
         msjAC('puco y padron pero anda');
            }

      var reader = new FileReader();

      reader.onload = (function(theFile) {
        return function(e) {
          document.getElementById('imagen').src = e.target.result;
        };
      })(f);
      reader.readAsDataURL(f);
    }
  }
  
    document.getElementById('{{imagen.file.get('id')}}').addEventListener('change', handleFileSelect, false);
    
    function verFoto(ele){
        var img = document.getElementById('imagen');
        if (BigScreen.element !== img) {
                BigScreen.request(img);
        }
        else {
                BigScreen.exit();
        }
    }
    
    
    function mostrarLinkFoto(ele){
        $('#btnFoto').removeAttr('style');
    }
     
    function ocultarLinkFoto(ele){
        $('#btnFoto').hide();
    }
    </script>
{% endblock%}