{% extends "::imprimir.html.twig" %}
{%block tipo_hoja%}
a4{%endblock %}
{%block orientacion_hoja%}
-landscape{%endblock%}

{# landscapehorizontal#}
{%block cabecera%}
{{parent()}}

{%endblock%}   
{%block titulo_reporte%}Pagos{%endblock titulo_reporte%}
{%block contenido%}
{{parent()}}
<div text-align="center" padding-bottom="10px" font-size="17" text-decoration="underline">Pagos</div>
                      {#Titulo con H1  <h1></h1>#}
                      {#Alguna descripcion con H3 <h3></h3>#}


    
        <b>FC:</b>
        Factura de compra
    
    
        <b>FS:</b>
        Factura de servicio
    
    
        <b>PE:</b>
        Pago a empleado
    

<div text-align="left" padding-bottom="15px">Consulta: {{info}}</div>
        <table  font-type="helvetica" font-size="9">
            <tr background-color="#FAFAFA" >
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Fecha</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Tipo de pago</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Aclaraci칩n</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Relaci칩n</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Fecha de Registro</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Salida de caja</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Monto $</b></td>
            </tr>
                    {%set total=0%}
                    {%set totalPagos=0%}
                    {%set totalDif=0%}

              {% for i in items%}
            <tr>
                <td padding="2px" width="65px" style="text-align: center;">{{i.fecha|date("d/m/Y")}}</td>
                <td padding="2px" style=" text-align: center;">{{i.tipoCobro}}</td>
                <td padding="2px" >{{i.aclaracion}}</td>
                    {%if i.facturaServicio%}<td padding="2px">FS: {{i.facturaServicio.serie}} - {{i.facturaServicio.numero}}</td>{%elseif i.compra%}<td padding="2px">FC: {{i.compra.serie}} - {{i.compra.numero}}</td>{%elseif i.contado%}<td padding="2px">PE DNI: {{i.contado.cuenta.empleado.dni}} </td>{%endif%}
                    {%set total=total + i.importe%}
                <td padding="2px" width="115px" style=" text-align: center;">{{i.fechaEmision|date("d/m/Y H:i")}}</td>
                <td padding="2px" width="90px" style=" text-align: center;">{%if i.salida%}SI{%else%}NO{%endif%}</td> 
                <td padding="3px" width="110px" style=" text-align: right;">{{((i.importe)|  number_format(2,'.', ''))}}</td>
                    
            </tr>
            {%if i.valores is defined and i.valores | length >0%} 
            <tr>
                
             <td padding="2px" colspan="7" border.type="none">
                    
                        {%for v in i.valores%}
                            <b>{{v.campo.nombre}}</b>: {{v.valor}}  
                        
                        {%endfor%}
                    
                        </td>
                        </tr>
                         {%endif%}  
            {% endfor %}
            <tr background-color="#FAFAFA" >
                <td style="text-align: center;" colspan="5"></td>
                
                <td style=" text-align: center;vertical-align: middle;"><b>TOTAL</b></td> 
                <td height="25px" style=" text-align: center;vertical-align: middle;"><b>$ {{((total)|  number_format(2,'.', ''))}}</b></td>
                    
            </tr>
        </table>
{%if img!=''%}
            <div breakable="false" text-align='center'  >
                    <div  padding-bottom="10px" font-size="17">Gr치fico de pagos</div>
                    <div  font-size="20"  margin-left="100px" width="800px" height="400px"  border-color="gray" border-size="0.5" >
                                <img  float="center"  width="800px" height="400px" {%if img!=''%}src="/tmp/compra.png"{%else%}src="{{pdf_image('SisGGFinalBundle:foto-no-disponible.jpg')}}"{%endif%} />
                    </div>
                </div>
            {%else%}
            <p>Error al imprimir el gr치fico</p>
            {%endif%}
{%endblock%}
