{% extends "::base.html.twig" %}
{%block title%}Editar de pedido{%endblock%}
{%block ruta%}
<li>
    <a href="{{path('index')}}">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="{{path('notas')}}">Notas de pedido</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Editar de pedido</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
            <legend>Mercaderia</legend>
           
        {% if error %}
            <div class="alert alert-block">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h4>¡CUIDADO!</h4>
                {{ error }}
            </div>
        {% endif %}
            <form class="form-horizontal" id="formNotaPedido" action="" method="post">
                {{form_row(form.proveedor)}}  

                    <div class="row-fluid sortable ui-sortable">
                        <div class="box span12">
                            <div class="box-header">
                                <h2><i class="icon-th"></i><span class="break"></span>Productos</h2>
                                <div class="box-icon">
                                    <a href="#" class="btn-minimize"><i class="icon-chevron-up"></i></a>
                                </div>
                            </div>
                            <div class="box-content">
                                <p>

                                <table class="table table-condensed" id="itemsNP">
                                    <thead class="header">
                                    <th>Producto</th>
                                    <th>Cantidad</th>
                                    <th>Tasa</th>
                                    <th>Precio de costo unitario</th>
                                    <th>Total</th>
                                    </thead>
                    {{form_widget(form.item)}}    
                                </table>                     
                                </p>
                            </div>
                        </div><!--/span-->
                    </div><div class="pull-right"> {{form_row(form.total)}}</div>
                    <div><br><br></div> 
                    {{ form_rest(form) }}
                        <div class="form-actions">
                            <button type="submit" onclick="confirmar('1')" class="btn btn-primary">Guardar y seguir editando</button>
                            <button type="submit" onclick="confirmar('2')" class="btn btn-warning">Guardar y finalizar</button>
                            <a type="button" href="{{path('notas')}}" class="btn">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
{%endblock%}
{%block modal%}
        <div id="verTabla" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="width: 750px;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Seleccione un producto para el ingrediente</h3>
            </div>
          <div class="modal-body">
      <div class="row-fluid sortable">
    <div class="box-content">
         <div class="btn-group">
                <button class="btn dropdown-toggle" title="Dar de alta productos" data-toggle="dropdown"><i class="fa-icon-plus-sign"></i> <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    {%if app.user.role.obtenerPermiso('mantenimiento_nuevo')%}
                        <li><a target="_blank" title="Nuevo producto mantenimiento" href="{{path('nuevoMantenimiento')}}" >Nuevo mantenimiento</a></li>
                    {% endif %}
                    {%if app.user.role.obtenerPermiso('materiaPrima_nuevo')%}
                        <li><a target="_blank" title="Nueva materia prima" href="{{path('nuevaMP')}}" >Nueva materia prima</a></li>
                    {% endif %}
                    {%if app.user.role.obtenerPermiso('mercaderia_nuevo')%}
                        <li><a target="_blank" title="Nueva mercaderia" href="{{path('nuevaMercaderia')}}">Nueva mercaderia</i></a></li>
                    {% endif %}
                </ul>
            <a class="btn" onclick="actualizarListaProductos();" target="_blank" title="Acturalizar lista de productos"><i class="icon-refresh"></i></a>
            </div>
        
        <div>
        <span class="label label-important">Cantidad mínima superior al stock</span>
        <span class="label label-warning">Advertencia por aprox al stock mínimo</span>
        </div>
      <div id="divTablaProductos">      
      <table cellpadding="0"  cellspacing="0" border="0" class="table table-striped table-bordered"  id="example" >
           <thead class="header">
                <tr>
                    <th>Nombre</th>                   
                    <th>Cantidad</th>
                    <th>Tasa</th>
                    <th>Precio de costo</th>
                    <th>Categoria</th>
                    <th>Proveedor</th>
                    <th style="text-align: center">Acciones</th>
                </tr>
            </thead>
            {% for pe in pps%}
            <tr {% if pe.isSuperaMin is defined %}
                    {% if pe.isSuperaMin ==1 %}
                         class="red"  
                    {% endif %}
                    {%set cant = pe.cantidadMinima / 3 + pe.cantidadMinima%}
                    {% if cant <= pe.cantidadMinima%}
                         class="yellow"  
                    {% endif %}
            {% endif %}  >

                <td>{{pe.nombre}}</td>
                <td title="Cantidad mínima {%if pe.isMantenimiento == false%}{{pe.cantidadMinima}}{%endif%}">{%if pe.isMantenimiento == false%}{{pe.cantidad}}{%endif%}</td>
                <td>{{pe.tasa}}</td>
                <td>$  {{pe.precioCosto}}</td>
                <td>{%if pe.isMantenimiento == false%}{{pe.categoria}}{%endif%}</td>
                <td>{{pe.proveedor}}</td>
                
                <td style="text-align: center;width: fit-content" >
                    <button type="button" title="Seleeciona el producto"  onclick="seleccionarProducto('{{pe.id}}')"><i class="icon icon-ok"></i></button>                   
                </td>
            </tr>   
            {% endfor %}
        </table> 
          </div>
              </div>
  </div>
          </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Aceptar</button>
            </div>
        </div>
{%endblock%}
{% block javascripts %}
    {{parent()}}

<script type="text/javascript">
$(document).ready(function  (){ 
            var div = document.getElementById(elemento+'proveedor').parentNode;
             $(div).append('<div class="btn-group"><button type="button" onclick="cargarProveedor()" title="Actualizar lista de proveedores" class="btn"><i  class="icon-refresh"></i> </button><a href="{{path('nuevoProveedor')}}" title="Nueva proveedor" class="btn" target="_blank">...</a>');
            
            actualizarProductos();
            $(document).keypress(function(e){
               
                if(e.which == 13){
                  return false;
                }
                //Shift N
                if(e.which == 78){
                  nuevaFila(e,'sisgg_finalbundle_notapedidotype_item');
                }
              });
         });

var clase='sisgg_finalbundle_notapedidotype_item_';
var elemento='sisgg_finalbundle_notapedidotype_';
var fila='';
function obtenerFila(ele){
    alert(clase);
        fila = ele.parentNode.parentNode.id.replace(clase, '');
        return fila;
    }
    function cargarProveedor(){
        $('#'+elemento+'proveedor').load("{{ path('cargarProveedor')}}", {'name':$('#'+elemento+'proveedor').val()}, function() { 
            }); 
    }
    function cambioProducto(ele){
        var id=ele.options[ele.options.selectedIndex].value;
        fila = ele.parentNode.parentNode.parentNode.id.replace(clase, '');
        $.getJSON("{{path ('obtenerProducto')}}",{id:id},function (json){
        seleccionarTasa(json.tasa, fila);
        $('#'+clase+fila+'_precioCosto').val(json.precioCosto);
        $('#'+clase+fila+'_cantidad').val('1');
        $('#'+clase+fila+'_total').val(0.00);
        var mento=document.getElementById(clase+fila+'_precioCosto');
        alter(mento);
        sumarTotal();
        });
    }
    function seleccionarProducto(id){
        
        $.getJSON("{{path ('obtenerProducto')}}",{id:id},function (json){
        //alert(json.tasa);
        seleccionarTasa(json.tasa, fila);
        $('#'+clase+fila+'_precioCosto').val(json.precioCosto);
        $('#'+clase+fila+'_cantidad').val('1');
        $('#'+clase+fila+'_total').val(0.00);
        $('#'+clase+fila+'_producto').val(id);        
        var mento=document.getElementById(clase+fila+'_precioCosto');
        alter(mento);
        sumarTotal();
            $('#verTabla').modal('hide');
        });
    }

    function buscarEnCombo(ele){
        fila = ele.parentNode.parentNode.parentNode.id.replace(clase, '');
            $('#verTabla').modal('toggle');
    }
function actualizarListaProductos (){
        $('#divTablaProductos').load("{{ path('cargarMMP')}}",{'tipo':1} ,function() {
            cargarProducto();
            }); 
            msjACentro('Tabla de productos actualizada. Vuelva a abrir la ventana de busqueda.');
            cargarTabla();
    }
    function cargarTabla(){
        $('#example').dataTable( {
		"sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
		"sPaginationType": "bootstrap",
                "aLengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "Todos"]],
		"oLanguage": {
			"sLengthMenu": "_MENU_ Registros por página",
                        "sSearch": "Buscar:",
                    "sInfo": " Mostrado _START_ a _END_ de _TOTAL_ registros",
                        "sInfoEmpty": "Mostrado 0 a 0 de 0 registros",
                        "sInfoFiltered": "(filtrado de _MAX_ registros totales)",
                        "sZeroRecords": "Ningun registro encontrado",
                        "oPaginate": {
				             "sPrevious": "Anterior",
                                             "sNext": "Siguiente"
				     }
		}
	} );
    }
   function lostFoc(ele){
    if (ele.value=='')
      ele.value='0';
    }
     function alter(ele){
        var fila = ele.parentNode.parentNode.id.replace(clase, '');
        var cant=$('#'+clase+fila+'_cantidad').val();
        var costo=$('#'+clase+fila+'_precioCosto').val();
        if (($.isNumeric(costo))&&($.isNumeric(cant))){
            var total =parseFloat(cant*costo);
            $('#'+clase+fila+'_total').val((total).toFixed(3));
             sumarTotal();

        }else{
                if ((costo!='')&&(!($.isNumeric(costo)))){
                    msjWC('Ingrese un número.');
                    $('#'+clase+fila+'_precioCosto').val('0');
                }
                if ((cant!='')&&(!($.isNumeric(cant)))){
                    msjWC('Ingrese un número.');
                    $('#'+clase+fila+'_cantidad').val('0');
                }
            $('#'+clase+fila+'_total').val(0.00);  
            sumarTotal();
        } 
     }
    function cambiarCantidad(ele){
        alter(ele);
      }
      
    function cambiarCosto(ele){
        alter(ele);
      }
      
    function sumarTotal(){
        var table = document.getElementById('itemsNP');
        var rows = table.getElementsByTagName('tr');
        var total = parseFloat('0.00');
         for (var i = 1; i <rows.length; ++i) {          
            var num =rows[i].cells[4].firstChild.value; 
            if (!($.isNumeric(num))){
                num = parseFloat('0.00');;
            }else{
                num = parseFloat(num);             
            }
            total=num+total;
        }
        
        if ($.isNumeric(total))
        $('#'+elemento+'total').val(total.toFixed(3)); 
    }
      
    function actualizarTasas(){
        var table = document.getElementById('itemsNP');
        var rows = table.getElementsByTagName('tr');
        
        for (var i = 1; i <rows.length; ++i) {          
            var combo = rows[i].cells[2].firstChild;
            var tasa = combo.options[combo.selectedIndex].text;
            seleccionarTasa(tasa, i-1);
        }
    } 
    function actualizarProductos(){
        var table = document.getElementById('itemsNP');
        var rows = table.getElementsByTagName('tr');
        
        for (var i = 1; i <rows.length; ++i) {          
            var combo = rows[i].cells[0].firstChild.firstChild;
            var id = $(combo).val();
            actPro(id, i-1, combo.id);
        }
    }
    
    function actPro(id, fila, combo){
        
        $('#'+clase+fila+'_producto').load("{{ path('cargarMMP')}}", function() {
            $.getJSON("{{path ('obtenerProducto')}}",{id:id},function (json){
                //alert($('#'+clase+fila+'_tasa').val());
            seleccionarTasa($('#'+clase+fila+'_tasa').val(), fila);
            $('#'+combo).val(id);
        });
            }); 
    }
      
  
    
    
    function seleccionarTasa(tasa, fila){
        
        //var comboTasa=document.getElementById(clase+fila+'_tasa');
        //alert(comboTasa);
        if ($.isNumeric(tasa)){
            $('#'+clase+fila+'_tasa').load("{{ path('seleccionarTasa')}}",{'id':tasa}, function() {             
            });
        }else{
            $('#'+clase+fila+'_tasa').load("{{ path('seleccionarTasa')}}",{'name':tasa}, function() {             
            });
        }
        
    }
    
    
    function cargarProducto(){
        
        $('#'+clase+fila+'_producto').load("{{ path('cargarMMP')}}", function() {
            var ele= document.getElementById(clase+fila+'_producto');
            var id=ele.options[ele.options.selectedIndex].value;
            seleccionarProducto(id);
             $('#'+clase+fila+'_total').val(0.00);  
            }); 
    }
    
    
 function nuevaFila(e,id) {
    e.preventDefault();
    // Get the data-prototype explained earlier
    var collectionHolder = $("#"+id);
    
    var prototype = collectionHolder.data('prototype');
    // get the new index
    var index = collectionHolder.data('index');
    // Replace '$$name$$' in the prototype's HTML to
    // instead be a number based on how many items we have
    var newForm = prototype.replace(/__name__/g, index);
    // increase the index with one for the next item
    collectionHolder.data('index', index + 1);
    // Display the form in the page in an li, before the "Add a tag" link li
    var $newFormLi = collectionHolder.append(newForm);
    $('[data-rel="chosen"],[rel="chosen"]').chosen();
    //inicializarFila(index);
    //alert(index);
    fila=index;
    cargarProducto();
} 
function eliminarFila(e,id){
    e.preventDefault();
    $('#'+id).remove();
     sumarTotal();
}
function confirmar(tipo){
    //alert(tipo);
    {##}
          var id='{{id}}';
        var url = "{{path('editarNotaPedido', { 'id': id, 'tipo':'__tipo__' })}}".replace(/__tipo__/g, tipo);;
        url= url.replace('amp;', ''); 
        $("#formNotaPedido").attr("action", url);
}
</script>
{%endblock%}

