<pdf>
    <dynamic-page>
            <h1>Materia prima</h1>
            
            <table class="table table-condensed">
            <tr><td>Nombre</td><td>{{i.nombre}}</td> </tr>
            <tr> <td>Descripción</td><td>{{i.descripcion}}</td></tr>
            <tr><td>Precio de costo</td><td>{{i.precioCosto}}</td></tr>
            <tr><td>Cantidad</td><td>{{i.cantidad}}</td></tr>
            <tr><td>Cantidad mínima</td><td>{{i.cantidadMinima}}</td></tr>
            <tr><td>Tasa</td><td>{{i.tasa}}</td></tr>
            <tr><td>Proveedor</td><td>{{i.proveedor}}</td></tr>
            <tr><td>Categoria</td><td>{{i.categoria}}</td></tr>
              
        </table>
  </dynamic-page>
</pdf>