{% extends "::imprimir.html.twig" %}
{%block tipo_hoja%}
a4{%endblock %}
{%block orientacion_hoja%}{%endblock%}

{# landscapehorizontal#}
{%block cabecera%}
{{parent()}}

{%endblock%}   
{%block titulo_reporte%}Datos de la materia prima {{producto.nombre}}{%endblock titulo_reporte%}
{%block contenido%}
{{parent()}}
<div text-align="center" padding-bottom="15px" font-size="17" text-decoration="underline">Datos de la materia prima {{producto.nombre}}</div>
<div font-size="11" font-type="helvetica">
    <table>
    <tr>
        <td text-align="left" border.type="none">
            <div>
                <b>Nombre: </b> {{producto.nombre}}
            </div>
            <div>
                <b>Descipción: </b> {{producto.descripcion}}
            </div>
            <div>
                <b>Categoria: </b> {{producto.categoria}}
            </div>
            <div>
                <b>Proveedor: </b> {{producto.proveedor}}
            </div>
            <div>
                <b>Precio de costo: </b> ${{producto.precioCosto}}
            </div>
            <div>
                <b>Iva: </b> {{producto.iva}}
            </div>
            <div>
                <b>Cantidad: </b> {{producto.cantidad}}
            </div>
            <div>
                <b>Cantidad mínima: </b> {{producto.cantidadMinima}}
            </div>
            <div>
                <b>Unidad de medida: </b> {{producto.tasa}}
            </div>
        </td>
        <td border.type="none" style="text-align: left"> </td>
        
        </tr>
    </table>
      </div>

{#enLetras#}
{#Titulo<div text-align="center" padding-bottom="10px" font-size="17" text-decoration="underline">Libro iva compras: {{mes}} de {{año}}</div>#}
                      {#Titulo con H1  <h1></h1>#}
                      {#Alguna descripcion con H3 <h3></h3>#}
                        {#font-type="helvetica"#}

        

{%endblock%}
