{% extends "::imprimir.html.twig" %}
{%block tipo_hoja%}
a4{%endblock %}
{%block orientacion_hoja%}
{%endblock%}

{# landscapehorizontal#}
{%block cabecera%}
{{parent()}}

{%endblock%}   
{%block titulo_reporte%}Recibo{%endblock titulo_reporte%}
{%block contenido%}
{{parent()}}
<h1 style='text-align: center;'>Recibo</h1>
<div font-size="10" font-type="helvetica" width='100%'>
    <p></p>    
    <table width='100%'>
        <tr>
            <td text-align="left"  width='100%' border.type="none">
                <div  width='100%'>
                </div>
                <div  width='100%'>
                    <b>Cliente: </b> {{unRecibo.serie}}
                </div>    
                <div  width='100%'>
                    <b>Cliente: </b> {{unRecibo.cliente}}
                </div>
                <div  width='100%'>
                    <b>Saldo: </b> {{unRecibo.total|number_format(2,'.','')}}
                </div>    
            </td>
        </tr>
    </table>
    <p></p>
        
        </div>
{%endblock%}