{% extends app.request.isXmlHttpRequest ? "::ajax.html.twig" : "SisGGFinalBundle:Cajero:cajero.html.twig" %}
{%if form%}{% form_theme form "SisGGFinalBundle:Form:fields.html.twig" %}{%endif%}
{%block ruta%}
<li>
    <a href="#">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Cuenta Corriente</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Nueva cuenta corriente</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
            <legend>Nueva cuenta corriente</legend>
            <form class="form-horizontal" action="{{ path('nuevo_cuenta_corriente') }}" method="post">
                <fieldset id="formNuevoCondicionIva">
                    <div class="span6">
                        {{form_row(form.numeroCuenta,{'attr':{'value':"%08d"|format(form.numeroCuenta.vars.data),'class':'span9','style':'text-align:right'} })}}    
                        {{form_row(form.cliente,{'attr':{'class':'span7'} })}}
                        {{form_rest(form)}} 
                        </div>       
                    </fieldset>
                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        <button onclick='history.back();' type="button"class="btn">Cancelar</button>
                    </div>    
                </form>
            </div>
        </div><!--/span-->
    </div><!--/row-->
    <hr>
{% endblock %}
{%block javascripts%}
{{parent()}}
    <script type='text/javascript'>
                            $().ready(function() {
                                $("#cuentacorrientetype_cliente").after("<a class='btn span2' onclick='buscarCliente();' ><i class='icon-search'></i></a>");
                            })
                            function buscarCliente() {
                                $.get("{{path('clientes')}}").done(
                                        function(data) {
                                            $("#dataBusqueda").html(data);
                                            $('#clientes').dataTable({
                                                "sDom": "<'row-fluid'<'span5'l><'span7'f>r>t<'row-fluid'<'span6'i><'span6 center'p>>",
                                                "sPaginationType": "bootstrap",
                                                "aLengthMenu": [[5,10, 25, 50, 100, -1], [5,10, 25, 50, 100, "Todos"]],
                                                "oLanguage": {
                                                    "sLengthMenu": "_MENU_ Registros por página",
                                                    "sSearch": "Buscar:",
                                                    "sInfo": " Mostrado _START_ a _END_ de _TOTAL_ registros",
                                                    "sInfoEmpty": "Mostrado 0 a 0 de 0 registros",
                                                    "sInfoFiltered": "(filtrado de _MAX_ registros totales)",
                                                    "sZeroRecords": "Ningun registro encontrado",
                                                    "oPaginate": {
                                                        "sPrevious": "",
                                                        "sNext": ""
                                                    }
                                                }
                                            });
                                            $("select[name='clientes_length']").val(5);
                                            $("select[name='clientes_length']").change();
                                            $("#busqueda").modal("show");
                                        }
                                );
                            }

                            function seleccionarCliente(id, cliente, provincia, ciudad, calle, numero, manzana, edificio, escalera, piso, departamento) {
                                var existe = false;
                                $("#cuentacorrientetype_cliente option").each(function() {
                                    if ($(this).val() == id)
                                        existe = true;
                                });
                                if (!existe) {
                                    $("#cuentacorrientetype_cliente").append('<option value="' + id + '">' + cliente + '</option>');
                                }
                                $("#cuentacorrientetype_cliente").val(id);
                                $("#busqueda").modal("hide");
                            }
        </script>    
{%endblock%}
{%block modal%}
{{parent()}}
        <div class="modal hide fade" id="busqueda">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h3>Buscar...</h3>
            </div>
            <div id="dataBusqueda" class="modal-body">
                <p>Here settings can be configured...</p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Cancelar</a>
            </div>
        </div>
{% endblock %}
{% block ajax %}
{% endblock %}
