{%if empleado.cuenta.movimientos | length > 0 %}
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                    <thead class="header">
                    <th>#</th> 
                    <th>Fecha</th>
                    <th>Monto</th>
                    <th>Tipo</th>
                    <th>Descripcion</th>
                    <th>Fecha de emisión</th>
                    </thead>
                    {%set n =1%}
                {%for i in empleado.cuenta.movimientos %}
                    <tr>
                    <td>{{n}}</td>    
                    <td>{{i.fecha | date("d/m/Y")}}</td>
                    <td>{{i.monto | number_format(2,'.', '')}}</td>
                    <td>
                        {%if i.isContadoEmpleado%} Retiro en efectivo
                        {%elseif i.isCancelarEmpleado%}  Cancelación de pago
                        {%elseif i.isAdicionalEmpleado%}  Pago Adicional
                        {%elseif i.isSueldoEmpleado%}  Acreditación de sueldo
                        <button type="button" class="btn" rel="popover" data-placement="top" data-content="De: {{i.inicio | date("d/m/Y")}} | A: {{i.fin | date("d/m/Y")}}." onclick="$(this).popover();" data-original-title="Periodo"><i class="fa-icon-calendar"></i></button>
                         {%elseif i.isEspeciesEmpleado%}  Pago en especies
                         <button type="button" class="btn" title="Detalles" onclick="detallesModalEsp('{{i.id}}')"><i class="fa-icon-list-alt"></i></button>
                        
                        {%endif%}
                        {%if i.isIngresoEmpleado%}<span class="pull-right label label-info">Haber</span>
                        {%else%}<span class="pull-right label label-warning">Debe</span>
                        {%endif%}
                    </td>
                    <td>{{i.descripcion}}</td>
                    <td>{{i.fechaEmision | date("d/m/Y g:ia")}}</td>
                    </tr>
                    {%set n=n+1%}
                {%endfor%}
                </table>
                
<input type="hidden" id="debeTab" value="{{empleado.cuenta.debe | number_format(2,'.', '')}}">         
<input type="hidden" id="haberTab" value="{{empleado.cuenta.haber | number_format(2,'.', '')}}">         
<input type="hidden" id="saldoTab" value="{{empleado.cuenta.saldo | number_format(2,'.', '')}}">
<input type="hidden" id="colorTab" value="{%if empleado.cuenta.saldo>=0%}green  {%else%} red {%endif%}">


    {%else%}
                <h3>No tiene movimientos registrados registrados</h3>
                {%endif%}  