{% extends "::imprimir.html.twig" %}
{%block tipo_hoja%}
a4{%endblock %}
{%block orientacion_hoja%}{%endblock%}

{# landscapehorizontal#}
{%block cabecera%}
{{parent()}}

{%endblock%}   
{%block titulo_reporte%}Retiro en {{tipo}}{%endblock titulo_reporte%}
{%block contenido%}
{{parent()}}
<div text-align="center" padding-bottom="10px" font-size="17" text-decoration="underline">Retiro en {{tipo}}</div>
<div font-size="14" font-type="helvetica">El empleado {{empleado.apellido | upper }}, {{empleado.nombre | upper}} DNI: {{empleado.dni}} a retirado el día {{mov.fechaEmision | date("d/m/Y")}}
 la cantidad de ${{mov.monto}}  ({{empleado.enLetras(mov.monto)}}) en {{tipo}}.
<div padding-top="30px" font-size="14" font-type="helvetica">Descripción: {%if mov.descripcion ==null%}No se ha agregado descripción{%endif%}{{mov.descripcion}} </div>
</div>

{% if mov.isEspeciesEmpleado%}
<div padding-top="30px" padding-bottom="30px" font-size="14" font-type="helvetica" text-align="center"><b> Detalle de factura</b></div>
        <table  font-type="helvetica" font-size="10">
            <tr background-color="#FAFAFA" >
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Producto</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Cantiad</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Tasa</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Precio unitario</b></td>
                <td height="25px"  style=" text-align: center;vertical-align: middle;"><b>Total</b></td>
            </tr>
            {%set total =0%}
              {% for i in mov.item%}
            <tr>
                <td width="180px" padding="2px">{{i.producto}}</td>
                <td padding="2px" text-align="right">{{i.cantidad}}</td>
                <td width="180px" padding="2px">{{i.tasa}}</td>
                <td  padding="2px" text-align="right">{{i.precioCosto | number_format(2,'.', '')}}</td>
                <td padding="2px" text-align="right">{{i.total | number_format(2,'.', '')}}</td>
            </tr>   
            {%set total = total + i.total%}
            {% endfor %}
            <tr background-color="#FAFAFA">
                <td padding="2.5px" text-align="right" colspan='4'><b>SUBTOTAL</b></td>
                <td padding="2.5px" text-align="right"><b>${{total | number_format(2,'.', '')}}</b></td>
            </tr>
            <tr background-color="#FAFAFA">
                <td padding="2.5px" text-align="right" colspan='4'><b>Desc %{{empleado.cargo.descuento}}</b></td>
                <td padding="2.5px" text-align="right"><b>${{(total-mov.monto)| number_format(2,'.', '')}}</b></td>
            </tr>
            <tr background-color="#FAFAFA">
                <td padding="2.5px" text-align="right" colspan='4'><b>TOTAL</b></td>
                <td padding="2.5px" text-align="right"><b>${{mov.monto | number_format(2,'.', '')}}</b></td>
            </tr> 
        </table>
{%endif%}
        

{%endblock%}
