{% extends "::base.html.twig" %}
{%block title%}Nuevo producto pre-elaborado{%endblock%}
{%block ruta%}
<li>
    <a href="{{path('index')}}">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="{{path('pps')}}">Productos para la producción</a><span class="divider">/</span>
</li>
<li>
    <a href="{{path('pes')}}">Productos pre-elaborados</a><span class="divider">/</span>
</li>
<li>
    <a href="#">Nuevo producto pre-elaborado</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
<form action="{{ path('altaPE') }}" class="form-horizontal" method="post">
    <legend>Nuevo producto pre-elaborado</legend>
        {% if error %}
    <div class="alert alert-error">
        <button type='button' class='close' data-dismiss='alert'>×</button>
        <strong>{{ error }}</strong> 
    </div>  
        {% endif %}
<fieldset>
<div class="span6">     
    {{ form_row(form.nombre) }} 
    {{ form_row(form.descripcion) }}
    {{ form_row(form.precioCosto) }} 
    {{ form_row(form.cantidad) }}
    {{ form_row(form.cantidadMinima) }}
</div>
<div class="span6">             
    <div class="control-group">
            <label class="control-label">Unidad de medida</label>
            <div class="controls">
                <select id="um" onchange="cargarTasa(this)" name="um" required="required"></select><div class="btn-group"><button type="button" class="btn"><i onclick="cargarUM()" title="Actualizar lista de UM" class="icon-refresh"></i></button> <a class="btn" href="{{path('ums')}}" title="Nueva Unidad de medida" target="_blank">...</a></div>
            </div>
    </div>
    {{ form_row(form.tasa) }}
    {{ form_row(form.categoria) }}
     {#<input type="hidden" id="cat" disabled="true"> <i onclick="actualizarArbol(); cargarCPP()" title="Actualizar arbol de categorias" class="icon-refresh"></i> <a href="{{path('nuevaCategoriaPP')}}" title="Nueva categoria" target="_blank">...</a>#}
    <div class="control-group">
        <div class="controls">
    <div class="accordion" id="accordion2">
            <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                     Ver/Ocultar  lista de categorias <i class="icon-circle-arrow-up"></i> 
                </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
                    <div class="input-append">
                        <input type="text" id="idNodo" onkeypress="buscarCategoria ()" autocomplete="off" class="" placeholder="Buscar Categoria">
                    <button type="button" class="btn" onclick="buscarCategoria ()"><i class="icon-search" title="Buscar"></i></button>
                    </div>                  
                <div class="accordion-inner">
                    <p><a  href="javascript: d.openAll();">Abrir todos <i class="icon-folder-open"></i></a> | 
                        <a href="javascript: d.closeAll();">Cerrar todos <i class="icon-folder-close"></i> </a> | 
                        <a href="{{path('nuevaCategoriaPP')}}" title="Nueva categoria" target="_blank">Nueva categoria <i class="icon-plus"></i></a>
                    </p>
                    <div id="tree"></div>
                </div>
            </div>
    </div>
    </div>
    </div>
        </div>
            {#<div class="control-group">
                   <label class="control-label" for="tableItemsPedido">Items Pedido</label>    
                   <div class="controls">
                       <table id="tableItemsPedido" class="table table-striped">
                           <thead>
                                    <th>Producto</th>
                                    <th>Precio</th>
                                    <th>Ingredientes</th>
                                    <th>Cantidad</th>
                                    <th>Consideraciones</th>
                                    <th>Acciones</th>
                                </thead>
                                    {{form_widget(form.ingredientes)}}    
                        </table>
                    </div>
     </div>#}
        <div style="display: none;">{{ form_rest(form) }}</div>
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary" >Guardar Cambios</button>
        <a href="{{path('pes')}}" type="button" class="btn">Cancelar</a>
    </div>        
</form>
        </div>
    </div>
</div> 
{%endblock%}

{% block javascripts %}
    {{parent()}}

<script type="text/javascript">
    var prov='';         
            
$(document).ready(function  (){ 
             cargarUM();
             var comboTasa = document.getElementById('sisgg_finalbundle_preelaboradotype_tasa');
            var nombreTasa=comboTasa.options[comboTasa.selectedIndex].text;
           var divCat = document.getElementById('sisgg_finalbundle_preelaboradotype_categoria').parentNode;
            $(divCat).append('<div class="btn-group"><button type="button" onclick="cargarCPP()" title="Actualizar arbol de categorias"  class="btn"><i class="icon-refresh"></i></button> <a href="{{path('nuevaCategoriaPP')}}" class="btn" title="Nueva categoria" target="_blank">...</a></div>');        
            seleccionarUM(nombreTasa);
            actualizarArbol();
       
         });
    
    function actualizarArbol(){
        $('.dtree').remove();
        d = new dTree('d');
        d.add(0, -1, 'Categorias','#','Todas las categorias');
        $.getJSON("{{path ('enviarCategoriasPP')}}",function (json){
            
        for (var i=0;i<json.length;i++){
            if (json[i].add==1){
                d.add(json[i].id, json[i].padre, json[i].nombre,'#',json[i].desc,'1','/SisGG/web/tree/img/folder_add.gif');
            }
            else{
                d.add(json[i].id, json[i].padre, json[i].nombre,'#',json[i].desc,'0','/SisGG/web/tree/img/folder_noadd.gif');
             }
            }
       $('<p>'+d+ '</p>').appendTo('#tree');
        });
           
    }
    function buscarCategoria (){
        var txtNodo=document.getElementById('idNodo').value;
        $.getJSON("{{path ('buscarCategoriaPP1')}}",{n:txtNodo},function (json){
        d.openTo(json.id, true);
        var combo=document.getElementById('sisgg_finalbundle_preelaboradotype_categoria'); 
        var nombre=json.n;
        for (var i=0;i<combo.length;i++) {           
                if (combo.options[i].text==nombre){
                    combo.selectedIndex=i;
                    document.getElementById('cat').value=nombre;
                }
            }    
        });
        
                
    }
              
    function verCategoria (nodo,target){
        
        var nombre = document.getElementById(nodo).text;
        var target = document.getElementById(nodo).target;
        if (target=='1'){
            var combo=document.getElementById('sisgg_finalbundle_preelaboradotype_categoria');       
            for (var i=0;i<combo.length;i++) {           
                if (combo.options[i].text==nombre){
                    combo.selectedIndex=i;
                    document.getElementById('cat').value=nombre;
                }
            }
        }else{
            msjWC('La categoria no puede contener productos, puesto que contiene otras categorias.')
        }
    }
    
   
    function cargarUM(){
        $('#um').load("{{ path('cargarUM')}}", function() {             
            }); 
    }
     function cargarTasa(combo){
        var name=combo.options[combo.selectedIndex].value;
        $('#sisgg_finalbundle_preelaboradotype_tasa').load("{{ path('cargarTasa')}}",{'name':name}, function() {             
            }); 
    }
    function cargarCPP(){
        $('#sisgg_finalbundle_preelaboradotype_categoria').load("{{ path('cargarCategoriaPP')}}", function() {
            actualizarArbol();
            }); 
            
    }
   
    function seleccionarUM(tasa){       
       $.getJSON("{{path ('buscarUMdeTasa')}}",{name:tasa},function (json){
            var combo=document.getElementById('um');
           seleccionarTasa(tasa);
            for (var i=0;i<combo.length;i++){
                if (combo.options[i].text==json.name){
                    combo.options[i].selected="selected";
                    
                }
            }
        });       
    }
    
    function seleccionarTasa(tasa){
        var comboTasa=document.getElementById('sisgg_finalbundle_preelaboradotype_tasa');
        $(comboTasa).load("{{ path('seleccionarTasa')}}",{'name':tasa}, function() {             
            });
    }
    
    </script>
{% endblock%}