<table class="table table-striped table-bordered" id="example">
    <thead class="header">
        <tr>
            <th>N°</th>
            <th>Cliente</th>
            <th>Fecha</th>
            <th>Estado</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
       {% for venta in ventas%}
            <tr>
                <td>{{venta.numeroFactura}}</td>
                <td>{{venta.nombre}}</td>
                <td>{{venta.fecha|date('d/m/Y')}}</td>
                <td>{{venta.estado}}</td>
                <td>{{venta.total}}</td>
                <td>
                    <a rel="tooltip" title="Detalles" href="{{path('editar_tipo_cobro')}}"><i class="icon-th-list"></i></a>
                                {%if venta.estado == "Sin Cobrar"%}<a rel="tooltip" title="Cobrar" href="{{path('editar_tipo_cobro')}}"><i class="fa-icon-money"></i></a>{%endif%}
                </td>                
            </tr>   
        {% endfor %}       
        </tbody>
    </table>