{% extends "::imprimir.html.twig" %}
{%block tipo_hoja%}
a4{%endblock %}
{%block orientacion_hoja%}
-landscape{%endblock%}

{# landscapehorizontal#}
{%block cabecera%}
{{parent()}}

{%endblock%}   
{%block titulo_reporte%}Ventas{%endblock titulo_reporte%}
{%block contenido%}
{{parent()}}
<div text-align="center" padding-bottom="10px" font-size="17" text-decoration="underline">Ventas</div>
                      {#Titulo con H1  <h1></h1>#}
                      {#Alguna descripcion con H3 <h3></h3>#}
<div text-align="left" padding-bottom="15px">Consulta: {{info}}</div>
        <table  font-type="helvetica" font-size="10">
            <tr background-color="#FAFAFA" >
                <td style=" text-align: center;vertical-align: middle;"><b>Numero</b></td>
                <td style=" text-align: center;vertical-align: middle;"><b>Tipo</b></td>
                <td style=" text-align: center;vertical-align: middle;"><b>Nombre/Razón Social</b></td>
                <td style=" text-align: center;vertical-align: middle;"><b>Fecha</b></td>
                <td style=" text-align: center;vertical-align: middle;"><b>Estado</b></td>
                <td style=" text-align: center;vertical-align: middle;"><b>Total</b></td>
            </tr>
            {% for venta in items%}
            <tr>
                <td style="text-align: center;">{{venta.numeroFactura}}</td>
                <td style=" text-align: center;">{{venta.tipoFactura}}</td>
                <td style=" text-align: center;">{{venta.nombre}}</td>
                <td style="text-align: center;">{{venta.fecha|date('d/m/Y')}}</td>
                <td style=" text-align: center;">{{venta.estado}}</td> 
                <td style=" text-align: center;">{{venta.total}}</td> 
            </tr>   
            {% endfor %}
        </table>

{%endblock%}
