{% extends app.request.isXmlHttpRequest ? "::ajax.html.twig" : "SisGGFinalBundle:Cajero:cajero.html.twig" %}
{%if form%}{% form_theme form "SisGGFinalBundle:Form:fields.html.twig" %}{%endif%}
{%block title%}Nuevo condici贸n frente al IVA{%endblock%}

{%block ruta%}
<li>
    <a href="{{path('index')}}">Inicio</a> <span class="divider">/</span>
</li>
<li>
    <a href="{{path('condiciones_iva')}}">Condici贸n Iva</a> <span class="divider">/</span>
</li>
<li>
    <a href="#">Editar condici贸n</a>
</li>
{%endblock%}
{% block content %}
<div class="row-fluid sortable">
    <div class="box span12">
        <div class="box-content">
            <legend>Nueva condici贸n</legend>
            <form class="form-horizontal" action="{{ path('nuevo_condicion_iva') }}" method="post">
                <fieldset id="formNuevoCondicionIva">
                    <div class="span6">
                        {{form_widget(form)}}     
                </fieldset>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    <button onclick='history.back();' type="button"class="btn">Cancelar</button>
                </div>    
            </form>
        </div>
    </div><!--/span-->
</div><!--/row-->
<hr>
{% endblock %}
{%block javascripts%}
{{parent()}}
{%endblock%}
{% block ajax %}
{% endblock %}
