<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
            <thead class="header">
                <tr>
                    <th id="primeraCol">Fecha (aaaa/mm/dd)</th>
                    <th>Producto</th>
                    <th>Tipo</th>
                    <th>Descripción</th>
                    <th>Cantidad</th>
                    <th>Tasa</th>
                    <th>Costo total</th>
                    <th style="text-align: center">Acciones</th>
                </tr>
            </thead>
            {% for r in registros%}
            <tr id="{{r.id}}">
                <td>{{r.fecha|date("Y/m/d H:i")}}</td>
                <td title="Click para ver datos del producto"><a href="#" abierto="0"  onclick="mostrarPopProducto('{{r.producto.id}}','{{r.producto}}', this);">{{r.producto}}</a></td>
                 <td>{%if r.tipo==1%}Producción{%else%}Pérdida{%endif%}</td>
                <td>{{r.descripcion}}</td>
                 <td  style="text-align: right">{{r.cantidad}}</td>
                <td>{{r.tasa}}</td>
                <td  style="text-align: right">$ <span class="lineaCosto">{{r.costo}}</span></td>
                <td style="text-align: center;width: fit-content" >
                   {%if r.tipo%} <a href="#" onclick="detallesModal('{{r.id}}');" title="Ver detalles"><i class="fa-icon-list-alt"></i></a>   {%endif%}
                   {%if app.user.role.obtenerPermiso('registro_imprimir')%}
                    <a target="_blank" href="{{path('impDetallesRegProd', {'id': r.id , '_format':'pdf'})}}" title="Imprimir los datos" ><i class="fa-icon-print"></i></a>
                    {%endif%}
                </td>
                
            </tr>   
            
            {% endfor %}
        </table>
