{%if form %}{% form_theme form "SisGGFinalBundle:Form:personalizarCampos.html.twig" %}{%endif%}
<div class="row-fluid sortable">
            <form class="form-horizontal">
                {{form_widget(form)}}
            </form>
<div class="accordion" id="acordion2">
        {#<div class="accordion-group">
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" title="Ver ingredientes"data-parent="#acordion2" href="#{{pe.id}}">{{pe.nombre}}: {{pe.descripcion}}</a>
                <div class="btn-group">
                    <button class="ex" onclick="redir(1,'{{pe.id}}')" title="Nueva tasa"><i class="icon icon-plus"></i></button>
                    <button onclick="redir(2,'{{pe.id}}')" title="Editar"><i class="icon icon-edit"></i></button>
                    <button href="#" title="Eliminar"  oncl  if (=="1") {ick=""><i class="icon icon-trash"></i></button>
                </div>
            </div>
            <div id="{{pe.id}}" class="accordion-body collapse">
                <div class="accordion-inner">#}
        {% if ingredientes!=null%}
        <h3>Ingredientes</h3>
                    <table class="table table-hover table-bordered table-condensed" data-spy="scroll">
                        <thead class="header">
                            <tr>
                                <th>Nombre</th>
                                 <th>Cantidad</th>
                                <th>Costo</th>
                                <th>Obligatorio</th>
                                <th style="text-align: center">Acciones</th>
                            </tr> 
                        </thead>
                   {%for i in ingredientes%}
                        
                            <td title="Click para ver datos del producto"><a href="#" abierto="0"  onclick="mostrarPopProducto('{{i.productoProduccion.id}}','{{i.productoProduccion}}', this, 1);">{{i.productoProduccion}}</a></td>
                            <td>{{i.cantidad}} {{i.tasa}}</td>
                            <td style="text-align: right;">$ {{i.precioCosto}}</td>
                            <td style="text-align: center;">{%if i.obligatorio%}<i class="fa-icon-ok"></i>{%else%}<i class="fa-icon-remove"></i>{%endif%}</td>
                            <td style="text-align: center;width: fit-content" >
                                <a href="{{ path('editarIngredientePlato', { 'id': i.id }) }}" target="_blank" title="Editar"><i class="fa-con-edit"></i></a>                                
                                <a href="#" title="Eliminar"  onclick="eliminarModalIng({{i.id}}, '{{i.productoProduccion}}')"><i class="fa-icon-trash"></i></a>
                            </td>
                        </tr>
                        {%endfor%}
                    </table>
              {%endif%}      
          {#      </div>
            </div>
         </div>
    </div>#}

</div>
{% if ingredientes!=null%} 
 {%block modal%}
<div id="eliminarModalIng" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Eliminar ingrediente</h3>
  </div>
  <div class="modal-body">
      <p>¿Esta seguro que desea eliminar el ingrediente <strong id="txtElimIng">fff</strong>?</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancelar</button>
    <a id="btnEliminarIng" class="btn btn-primary">Aceptar</a>
  </div>
</div> 
{%endblock%}
{%endif%}     